article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary,
div {
    display: block; }

audio,
canvas,
video {
    display: inline-block; }

audio:not([controls]) {
    display: none;
    height: 0; }

[hidden], template {
    display: none; }

html {
    background: white;
    color: black;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%; }

html,
button,
input,
select,
textarea {
    font-family: sans-serif; }

body {
    margin: 0; }

a {
    background: transparent; }
a:focus {
    outline: thin dotted; }
a:hover, a:active {
    outline: 0; }

h1 {
    font-size: 2em;
    margin: 0.67em 0; }

h2 {
    font-size: 1.5em;
    margin: 0.83em 0; }

h3 {
    font-size: 1.17em;
    margin: 1em 0; }

h4 {
    font-size: 1em;
    margin: 1.33em 0; }

h5 {
    font-size: 0.83em;
    margin: 1.67em 0; }

h6 {
    font-size: 0.75em;
    margin: 2.33em 0; }

abbr {
    border-bottom: none;
    text-decoration: none}

b,
strong {
    font-weight: bold; }

dfn {
    font-style: italic; }

mark {
    background: #ff0;
    color: #000; }

code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    font-size: 1em; }

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word; }

q {
    quotes: "\201C" "\201D" "\2018" "\2019"; }

q:before,
q:after {
    content: '';
    content: none; }

small {
    font-size: 80%; }

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline; }

sup {
    top: -0.5em; }

sub {
    bottom: -0.25em; }

img {
    border: 0; }

svg:not(:root) {
    overflow: hidden; }

figure {
    margin: 0; }

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em; }

legend {
    border: 0;
    padding: 0;
    white-space: normal; }

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
    vertical-align: baseline; }

button,
input {
    line-height: normal; }

button,
select {
    text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer; }

button[disabled],
input[disabled] {
    cursor: default; }

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0; }

input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0; }

textarea {
    overflow: auto;
    vertical-align: top; }

table {
    border-collapse: collapse;
    border-spacing: 0; }

/* BACKGROUND GRADIENT */
/* BACKGROUND SIZE */
/* BORDER RADIUS */
/* BOX */
/* BOX RGBA */
/* BOX SHADOW */
/* BOX SIZING */
/* COLUMNS */
/* DOUBLE BORDERS */
/* FLEX */
/* FLIP */
/* FONT FACE */
/* OPACITY */
/* OUTLINE RADIUS */
/* RESIZE */
/* ROTATE*/
/* TEXT SHADOW */
/* TRANSFORM  */
/* TRANSITION */
/* TRIPLE BORDERS */
.clear {
    clear: both;
    display: block;
    height: 0;
    line-height: 0;
    overflow: hidden;
    font-size: 0; }

.center {
    text-align: center; }

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
    position: relative;

}

a {
    cursor: pointer;
    cursor: hand; }

@font-face {
    font-family: 'pn_reg';
    src: url("../fonts/proximanova-reg.eot");
    src: url("../fonts/proximanova-reg.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-reg.woff") format("woff"), url("../fonts/proximanova-reg.ttf") format("truetype"), url("../fonts/proximanova-reg.svg#proxima_nova_rgregular") format("svg");
    font-weight: normal;
    font-style: normal; }
@font-face {
    font-family: 'pn_bold';
    src: url("../fonts/proximanova-bold.eot");
    src: url("../fonts/proximanova-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-bold.woff") format("woff"), url("../fonts/proximanova-bold.ttf") format("truetype"), url("../fonts/proximanova-bold.svg#proxima_nova_rgbold") format("svg");
    font-weight: normal;
    font-style: normal; }
@font-face {
    font-family: 'pn_bold_it';
    src: url("../fonts/proximanova-boldit.eot");
    src: url("../fonts/proximanova-boldit.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-boldit.woff") format("woff"), url("../fonts/proximanova-boldit.ttf") format("truetype"), url("../fonts/proximanova-boldit.svg#proxima_novabold_italic") format("svg");
    font-weight: normal;
    font-style: normal; }
@font-face {
    font-family: 'pn_reg_it';
    src: url("../fonts/proximanova-regit.eot");
    src: url("../fonts/proximanova-regit.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova-regit.woff") format("woff"), url("../fonts/proximanova-regit.ttf") format("truetype"), url("../fonts/proximanova-regit.svg#proxima_novaregular_italic") format("svg");
    font-weight: normal;
    font-style: normal; }
body, input, button {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility; }

a:hover {
    text-decoration: none; }

* {
    margin: 0;
    outline: none; }

html, body {
    height: 100%; }

body {
    width: 100%;
    min-width: 100%;
    width: auto;
    float: left;
    font-family: pn_reg, arial, sans-serif;
    color: #505555;
    font-size: 14px; }

.content_wrapper {
    height: 100%;
    min-height: 100%; }

.sidebar_wrapper {
    position: fixed;
    width: 234px;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    height: 100vh;
    float: left;
    background: #3a444f;
    background: -moz-linear-gradient(-45deg, #3a444f 0%, #627383 100%);
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #3a444f), color-stop(100%, #627383));
    background: -webkit-linear-gradient(-45deg, #3a444f 0%, #627383 100%);
    background: -o-linear-gradient(-45deg, #3a444f 0%, #627383 100%);
    background: -ms-linear-gradient(-45deg, #3a444f 0%, #627383 100%);
    background: linear-gradient(-45deg, #3a444f 0%, #627383 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3a444f', endColorstr='#627383',GradientType=1 ); }

.content_wrapper {
    width: calc(100% - 234px);
    display: block;
    float: right; }

.content_footer {
    background: #F7F9FB;
    height: 65px;  }

.sidebar {
    background: url("../img/bg_sidebar_noise_shadow.png") repeat-y;
    flex: 1 0 auto;
    z-index: 0;
}
.sidebar .logo {
    display: block;
    width: 204px;
    height: 59px;
    padding: 20px 0 0 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15); }
.sidebar nav ul {
    list-style: none;
    display: block;
    padding: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
.sidebar nav ul li {
    display: block;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.15); }
.sidebar nav ul li a {
    display: block;
    padding: 10px 30px;
    height: 20px;
    color: #f2f6f9;
    text-decoration: none; }
.sidebar nav ul li a i {
    width: 19px;
    height: 20px;
    display: block;
    float: left;
    margin-right: 16px; }
.sidebar nav ul li a i.icon_nav_structure {
    background: url("../img/icon_nav_structure.png") no-repeat -19px 0; }
.sidebar nav ul li a i.icon_nav_news {
    background: url("../img/icon_nav_news.png") no-repeat -19px 0; }
.sidebar nav ul li a i.icon_nav_gallery {
    background: url("../img/icon_nav_gallery.png") no-repeat -19px 0; }
.sidebar nav ul li a i.icon_nav_catalog {
    background: url("../img/icon_nav_catalog.png") no-repeat -19px 0; }
.sidebar nav ul li a i.icon_nav_users {
    background: url("../img/icon_nav_users.png") no-repeat -19px 0; }
.sidebar nav ul li a span {
    display: block;
    float: left;
    height: 20px;
    line-height: 22px;
    font-family: pn_bold, arial, sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); }
.sidebar nav ul li a:hover span {
    text-decoration: underline; }
.sidebar nav ul li.active {
    background: rgba(8, 29, 45, 0.2);
    border: none; }
.sidebar nav ul li.active a i {
    background-position: 0 0; }
.sidebar nav ul li.active a:hover span {
    text-decoration: none; }
.sidebar a.view_site {
    display: block;
    margin: 25px 0 25px 30px;
    width: 160px;
    border-collapse: collapse;
    background-color: #5fbde3;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#5fbde3), to(#4ca9d4));
    background-image: -webkit-linear-gradient(top, #5fbde3, #4ca9d4);
    background-image: -moz-linear-gradient(top, #5fbde3, #4ca9d4);
    background-image: -ms-linear-gradient(top, #5fbde3, #4ca9d4);
    background-image: -o-linear-gradient(top, #5fbde3, #4ca9d4);
    background-image: linear-gradient(top, #5fbde3, #4ca9d4);
    color: #fff;
    text-align: center;
    text-decoration: none;
    padding: 10px 0 10px 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    -moz-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    -webkit-transition: all 0.1s ease-in;
    -ms-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
    border-top: 1px solid #93d6f1; }
.sidebar a.view_site:hover {
    background-color: #4ca9d4;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#4ca9d4), to(#5fbde3));
    background-image: -webkit-linear-gradient(top, #4ca9d4, #5fbde3);
    background-image: -moz-linear-gradient(top, #4ca9d4, #5fbde3);
    background-image: -ms-linear-gradient(top, #4ca9d4, #5fbde3);
    background-image: -o-linear-gradient(top, #4ca9d4, #5fbde3);
    background-image: linear-gradient(top, #4ca9d4, #5fbde3);
    border-top: 1px solid #4ca9d4; }
.sidebar a.view_site:active {
    border-top: 1px solid #548da4;
    -webkit-box-shadow: inset 0px 1px 5px #408fb2;
    -moz-box-shadow: inset 0px 1px 5px #408fb2;
    box-shadow: inset 0px 1px 5px #408fb2;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2); }
#main-left-menu {
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.sidebar nav ul li:last-child {
    border-bottom: none;
}
.sidebar_footer {
    background: url("../img/bg_sidebar_noise_shadow.png") repeat-y;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    /*! position: relative; */ }
.sidebar_footer:hover .user i {
    background-position: -21px 0; }
.sidebar_footer .user {
    display: block;
    height: 22px;
    padding: 22px 0 22px 30px;
    cursor: pointer; }
.sidebar_footer .user::selection {
    background: transparent; }
.sidebar_footer .user i {
    width: 21px;
    height: 22px;
    display: block;
    float: left;
    background: url("../img/icon_user_settings.png") no-repeat;
    margin-right: 10px; }
.sidebar_footer .user i.actv {
    background-position: -21px 0; }
.sidebar_footer .user span {
    display: block;
    float: left;
    color: #8e9caa;
    font-family: pn_bold, arial, sans-serif;
    height: 22px;
    line-height: 22px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); }
.sidebar_footer .user span::selection {
    background: transparent; }
.sidebar_footer .subnav_footer {
    display: none;
    position: absolute;
    background: #fff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    z-index: 255;
    bottom: 60px;
    left: 20px;
    padding: 10px 0 0 0; }
.sidebar_footer .subnav_footer ul {
    list-style: none;
    padding: 0; }
.sidebar_footer .subnav_footer ul li {
    padding: 0 20px; }
.sidebar_footer .subnav_footer ul li:last-child {
    background: #dce4eb;
    padding: 5px 20px;
    border-top: 1px solid #c8d3dd;
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px; }
.sidebar_footer .subnav_footer ul li:last-child:after {
    top: 100%;
    left: 15px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-top-color: #c8d3dd;
    z-index: 255;
    border-width: 5px; }
.sidebar_footer .subnav_footer ul li a {
    display: block;
    padding: 7px 0 12px 0;
    color: #626c70;
    text-decoration: none; }
.sidebar_footer .subnav_footer ul li a:hover {
    color: #333; }

div.login_page {
    background: #343d46 url("../img/bg_login.jpg") repeat;
    color: #93a1ad;
    width: 100%;
    height: 100%;
    position: relative;

}
div.login_page .container {
    background: url("../img/bg_login_center.jpg") no-repeat center center;
    height: 100%;
    width: 100%;
    margin: 0 auto; }
div.login_page .container .form_outer {
    width: 330px;
    height: 405px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -225px;
    margin-left: -165px; }
div.login_page .container .form_outer a.logo {
    display: block;
    margin-bottom: 18px; }
div.login_page .container .form_outer form.login {
    background: #f7f9fb;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    padding: 25px 50px; }
div.login_page .container .form_outer form.login .title {
    display: block;
    color: #93a1ad;
    font-size: 18px;
    margin-bottom: 15px;
    text-align: center; }
div.login_page .container .form_outer form.login .message-login {
    font-size: 12px;
    color: #f2594b;
    /*margin: 5px auto;*/
    height: 14px;
    float:right;
}
div.login_page .container .form_outer form.login .message span {
    display: none; }
div.login_page .container .form_outer form.login fieldset {
    border: none;
    padding: 0;
    margin-bottom: 18px; }
div.login_page .container .form_outer form.login fieldset input[type="text"], div.login_page .container .form_outer form.login fieldset input[type="password"] {
    width: 86%;
    height: 18px;
    padding: 8px 7%;
    border: 1px solid #cdd6e0;
    -moz-border-radius: 3px;
    -webkit-border-radius:3px;
    border-radius: 3px;
    -webkit-box-shadow: inset 0px 2px 4px rgba(50, 59, 68, 0.1);
    -moz-box-shadow: inset 0px 2px 4px rgba(50, 59, 68, 0.1);
    box-shadow: inset 0px 2px 4px rgba(50, 59, 68, 0.1);
    color: #93a1ad;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    margin-top:5px;
}
div.login_page .container .form_outer form.login fieldset input[type="text"]:focus, div.login_page .container .form_outer form.login fieldset input[type="password"]:focus {
    border-color: #b0bac4; }
div.login_page .container .form_outer form.login fieldset.remember {
    text-align: left;
}
div.login_page .container .form_outer form.login fieldset.remember label.sw span {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
    vertical-align: baseline;
    margin-left: 5px;
    cursor: pointer; }
div.login_page .container .form_outer form.login fieldset.remember label.sw .switch {
    width: 32px;
    height: 16px;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
    background: transparent;
    cursor: pointer; }
div.login_page .container .form_outer form.login fieldset.remember label.sw .switch .sw-outer {
    width: 30px;
    height: 14px;
    background: #93a1ad;
    border: 1px solid #93a1ad;
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    border-radius: 16px;
    position: relative;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in; }
div.login_page .container .form_outer form.login fieldset.remember label.sw .switch .sw-outer .sw-inner {
    width: 12px;
    height: 12px;
    margin: 1px;
    position: absolute;
    -moz-border-radius: 14px;
    -webkit-border-radius: 14px;
    border-radius: 14px;
    left: 0;
    background: #fff;
    display: block;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in; }
div.login_page .container .form_outer form.login fieldset.remember label.sw .switch .sw-outer.active {
    background: #a1c36d;
    border-color: #a1c36d; }
div.login_page .container .form_outer form.login fieldset.remember label.sw .switch .sw-outer.active .sw-inner {
    left: 16px; }
div.login_page .container .form_outer form.login .button_submit {
    display: block;
    border-collapse: collapse;
    margin: 0 auto;
    background-color: #5fbde3;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#5fbde3), to(#4ca9d4));
    background-image: -webkit-linear-gradient(top, #5fbde3, #4ca9d4);
    background-image: -moz-linear-gradient(top, #5fbde3, #4ca9d4);
    background-image: -ms-linear-gradient(top, #5fbde3, #4ca9d4);
    background-image: -o-linear-gradient(top, #5fbde3, #4ca9d4);
    background-image: linear-gradient(top, #5fbde3, #4ca9d4);
    border: 0;
    border-bottom: 1px solid #408fb2;
    color: #fff;
    margin-bottom: 5px;
    padding: 10px 55px 8px 55px;
    font-family: pn_bold, arial, sans-serif;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    border-radius: 40px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    -moz-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    -webkit-transition: all 0.1s ease-in;
    -ms-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in; }
div.login_page .container .form_outer form.login .button_submit:hover {
    background-color: #4ca9d4;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#4ca9d4), to(#5fbde3));
    background-image: -webkit-linear-gradient(top, #4ca9d4, #5fbde3);
    background-image: -moz-linear-gradient(top, #4ca9d4, #5fbde3);
    background-image: -ms-linear-gradient(top, #4ca9d4, #5fbde3);
    background-image: -o-linear-gradient(top, #4ca9d4, #5fbde3);
    background-image: linear-gradient(top, #4ca9d4, #5fbde3); }
div.login_page .container .form_outer form.login .button_submit:active {
    border-color: #fff;
    -webkit-box-shadow: inset 0px 2px 4px #408fb2;
    -moz-box-shadow: inset 0px 2px 4px #408fb2;
    box-shadow: inset 0px 2px 4px #408fb2;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2); }
div.login_page .container .form_outer form.login a.forgot {
    font-size: 12px;
    color: #93a1ad; }
div.login_page .container .form_outer .shadow {
    position: absolute;
    bottom: -50px;
    left: 50%;
    margin-left: -215px;
    filter: alpha(opacity=50);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    width: 430px;
    height: 38px;
    display: block;
    background: url("../img/login_shadow.png") no-repeat; }

.width-10 {
    width: 10px; }

.width-20 {
    width: 20px; }

.width-30 {
    width: 30px; }

.width-40 {
    width: 40px; }

.width-50 {
    width: 50px; }

.width-60 {
    width: 60px; }

.width-70 {
    width: 70px; }

.width-80 {
    width: 80px; }

.width-90 {
    width: 90px; }

.width-100 {
    width: 100px; }
.width-110 {
    width: 110px; }
.width-120 {
    width: 120px; }
.width-130 {
    width: 130px; }
.width-140 {
    width: 140px; }
.width-150 {
    width: 150px; }

.width-200 {
    width: 200px; }

.width-300 {
    width: 300px; }

.width-400 {
    width: 400px; }

label.file {
    color: #737c85;
    background: #fff;
    border: 1px solid #c5cfda;
    padding: 6px 84px 6px 10px;
    position: relative;
    height: 18px;
    cursor: pointer;
    display: block;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.1);
    width: calc(100% - 96px);
    overflow: hidden;
    line-height: 18px; }
label.file .val {
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 18px; }
label.file .input {
    display: block;
    position: absolute;
    top: -1px;
    right: -1px;
    padding: 6px 15px;
    background-color: #f8fafb;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f8fafb), to(#ecf1f5));
    background-image: -webkit-linear-gradient(top, #f8fafb, #ecf1f5);
    background-image: -moz-linear-gradient(top, #f8fafb, #ecf1f5);
    background-image: -ms-linear-gradient(top, #f8fafb, #ecf1f5);
    background-image: -o-linear-gradient(top, #f8fafb, #ecf1f5);
    background-image: linear-gradient(top, #f8fafb, #ecf1f5);
    -webkit-box-shadow: inset 0 1px 0px white;
    -moz-box-shadow: inset 0 1px 0px white;
    box-shadow: inset 0 1px 0px white;
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 0;
    border: 1px solid #c5cfda;
    margin: 0;
    color: #737D87;
    cursor: pointer;
    line-height: 18px; }
label.file .input:hover {
    background-color: #ecf1f5;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ecf1f5), to(#f8fafb));
    background-image: -webkit-linear-gradient(top, #ecf1f5, #f8fafb);
    background-image: -moz-linear-gradient(top, #ecf1f5, #f8fafb);
    background-image: -ms-linear-gradient(top, #ecf1f5, #f8fafb);
    background-image: -o-linear-gradient(top, #ecf1f5, #f8fafb);
    background-image: linear-gradient(top, #ecf1f5, #f8fafb); }

.select_box {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
    width: auto;
    padding-right: 20px;
    height: 30px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-color: #f8fafb;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f8fafb), to(#ecf1f5));
    background-image: -webkit-linear-gradient(top, #f8fafb, #ecf1f5);
    background-image: -moz-linear-gradient(top, #f8fafb, #ecf1f5);
    background-image: -ms-linear-gradient(top, #f8fafb, #ecf1f5);
    background-image: -o-linear-gradient(top, #f8fafb, #ecf1f5);
    background-image: linear-gradient(top, #f8fafb, #ecf1f5);
    -webkit-box-shadow: inset 0 1px 0px white;
    -moz-box-shadow: inset 0 1px 0px white;
    box-shadow: inset 0 1px 0px white;
    border: 1px solid #d1d7de;
    position: relative;
    line-height: 30px; }
.select_box:hover {
    background-color: #ecf1f5;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ecf1f5), to(#f8fafb));
    background-image: -webkit-linear-gradient(top, #ecf1f5, #f8fafb);
    background-image: -moz-linear-gradient(top, #ecf1f5, #f8fafb);
    background-image: -ms-linear-gradient(top, #ecf1f5, #f8fafb);
    background-image: -o-linear-gradient(top, #ecf1f5, #f8fafb);
    background-image: linear-gradient(top, #ecf1f5, #f8fafb); }
.select_box:after {
    content: "";
    width: 9px;
    height: 5px;
    display: block;
    background: url("../img/icon_arrow_dropdown.png") no-repeat;
    position: absolute;
    top: 13px;
    right: 10px; }
.select_box select {
    cursor: pointer;
    position: absolute;
    width: 100%;
    top: 3px;
    right: 0;
    display: block;
    opacity: 0;
    z-index: 2;
    height: 30px;
    line-height: 30px; }
.select_box .out {
    padding: 0 10px;
    color: #737D87;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;}

label.chbx {
    display: block;
    float: left;
    width: 16px;
    height: 16px;
    border: 1px solid #B5BCC3;
    border-radius: 3px;
    background-color: white;
    box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    position: relative;
}
label.chbx.active {
    background-color: #60C9F5;
    border-color: #33aaee;
}
label.chbx.active::after {
    display: block;
    position: absolute;
    color: #fff;
    content: '✓';
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px 1px #05b4ff;
    left: 2px;
}
.checkbox-center {
    margin: 0 auto;
}
label.switch {
    display: block;
    width: 32px;
    height: 16px;
    background: #f39b88;
    position: relative;
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    border-radius: 16px;
    -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.2);
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    cursor: pointer; }
label.switch .inner {
    width: 12px;
    height: 12px;
    position: absolute;
    top: 2px;
    left: 2px;
    background: #fff;
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    border-radius: 16px;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in; }
label.switch.active {
    background: #a1c36d; }
label.switch.active .inner {
    top: 2px;
    left: 18px; }

.col-1 {
    width: 1%;
    display: block;
    float: left; }

.col-2 {
    width: 2%;
    display: block;
    float: left; }

.col-3 {
    width: 3%;
    display: block;
    float: left; }

.col-4 {
    width: 4%;
    display: block;
    float: left; }

.col-5 {
    width: 5%;
    display: block;
    float: left; }

.col-6 {
    width: 6%;
    display: block;
    float: left; }

.col-7 {
    width: 7%;
    display: block;
    float: left; }

.col-8 {
    width: 8%;
    display: block;
    float: left; }

.col-9 {
    width: 9%;
    display: block;
    float: left; }

.col-10 {
    width: 10%;
    display: block;
    float: left; }

.col-11 {
    width: 11%;
    display: block;
    float: left; }

.col-12 {
    width: 12%;
    display: block;
    float: left; }

.col-13 {
    width: 13%;
    display: block;
    float: left; }

.col-14 {
    width: 14%;
    display: block;
    float: left; }

.col-15 {
    width: 15%;
    display: block;
    float: left; }

.col-16 {
    width: 16%;
    display: block;
    float: left; }

.col-17 {
    width: 17%;
    display: block;
    float: left; }

.col-18 {
    width: 18%;
    display: block;
    float: left; }

.col-19 {
    width: 19%;
    display: block;
    float: left; }

.col-20 {
    width: 20%;
    display: block;
    float: left; }

.col-21 {
    width: 21%;
    display: block;
    float: left; }

.col-22 {
    width: 22%;
    display: block;
    float: left; }

.col-23 {
    width: 23%;
    display: block;
    float: left; }

.col-24 {
    width: 24%;
    display: block;
    float: left; }

.col-25 {
    width: 25%;
    display: block;
    float: left; }

.col-26 {
    width: 26%;
    display: block;
    float: left; }

.col-27 {
    width: 27%;
    display: block;
    float: left; }

.col-28 {
    width: 28%;
    display: block;
    float: left; }

.col-29 {
    width: 29%;
    display: block;
    float: left; }

.col-30 {
    width: 30%;
    display: block;
    float: left; }

.col-31 {
    width: 31%;
    display: block;
    float: left; }

.col-32 {
    width: 32%;
    display: block;
    float: left; }

.col-33 {
    width: 33%;
    display: block;
    float: left; }

.col-34 {
    width: 34%;
    display: block;
    float: left; }

.col-35 {
    width: 35%;
    display: block;
    float: left; }

.col-36 {
    width: 36%;
    display: block;
    float: left; }

.col-37 {
    width: 37%;
    display: block;
    float: left; }

.col-38 {
    width: 38%;
    display: block;
    float: left; }

.col-39 {
    width: 39%;
    display: block;
    float: left; }

.col-40 {
    width: 40%;
    display: block;
    float: left; }

.col-41 {
    width: 41%;
    display: block;
    float: left; }

.col-42 {
    width: 42%;
    display: block;
    float: left; }

.col-43 {
    width: 43%;
    display: block;
    float: left; }

.col-44 {
    width: 44%;
    display: block;
    float: left; }

.col-45 {
    width: 45%;
    display: block;
    float: left; }

.col-46 {
    width: 46%;
    display: block;
    float: left; }

.col-47 {
    width: 47%;
    display: block;
    float: left; }

.col-48 {
    width: 48%;
    display: block;
    float: left; }

.col-49 {
    width: 49%;
    display: block;
    float: left; }

.col-50 {
    width: 50%;
    display: block;
    float: left; }

.col-51 {
    width: 51%;
    display: block;
    float: left; }

.col-52 {
    width: 52%;
    display: block;
    float: left; }

.col-53 {
    width: 53%;
    display: block;
    float: left; }

.col-54 {
    width: 54%;
    display: block;
    float: left; }

.col-55 {
    width: 55%;
    display: block;
    float: left; }

.col-56 {
    width: 56%;
    display: block;
    float: left; }

.col-57 {
    width: 57%;
    display: block;
    float: left; }

.col-58 {
    width: 58%;
    display: block;
    float: left; }

.col-59 {
    width: 59%;
    display: block;
    float: left; }

.col-60 {
    width: 60%;
    display: block;
    float: left; }

.col-61 {
    width: 61%;
    display: block;
    float: left; }

.col-62 {
    width: 62%;
    display: block;
    float: left; }

.col-63 {
    width: 63%;
    display: block;
    float: left; }

.col-64 {
    width: 64%;
    display: block;
    float: left; }

.col-65 {
    width: 65%;
    display: block;
    float: left; }

.col-66 {
    width: 66%;
    display: block;
    float: left; }

.col-67 {
    width: 67%;
    display: block;
    float: left; }

.col-68 {
    width: 68%;
    display: block;
    float: left; }

.col-69 {
    width: 69%;
    display: block;
    float: left; }

.col-70 {
    width: 70%;
    display: block;
    float: left; }

.col-71 {
    width: 71%;
    display: block;
    float: left; }

.col-72 {
    width: 72%;
    display: block;
    float: left; }

.col-73 {
    width: 73%;
    display: block;
    float: left; }

.col-74 {
    width: 74%;
    display: block;
    float: left; }

.col-75 {
    width: 75%;
    display: block;
    float: left; }

.col-76 {
    width: 76%;
    display: block;
    float: left; }

.col-77 {
    width: 77%;
    display: block;
    float: left; }

.col-78 {
    width: 78%;
    display: block;
    float: left; }

.col-79 {
    width: 79%;
    display: block;
    float: left; }

.col-80 {
    width: 80%;
    display: block;
    float: left; }

.col-81 {
    width: 81%;
    display: block;
    float: left; }

.col-82 {
    width: 82%;
    display: block;
    float: left; }

.col-83 {
    width: 83%;
    display: block;
    float: left; }

.col-84 {
    width: 84%;
    display: block;
    float: left; }

.col-85 {
    width: 85%;
    display: block;
    float: left; }

.col-86 {
    width: 86%;
    display: block;
    float: left; }

.col-87 {
    width: 87%;
    display: block;
    float: left; }

.col-88 {
    width: 88%;
    display: block;
    float: left; }

.col-89 {
    width: 89%;
    display: block;
    float: left; }

.col-90 {
    width: 90%;
    display: block;
    float: left; }

.col-91 {
    width: 91%;
    display: block;
    float: left; }

.col-92 {
    width: 92%;
    display: block;
    float: left; }

.col-93 {
    width: 93%;
    display: block;
    float: left; }

.col-94 {
    width: 94%;
    display: block;
    float: left; }

.col-95 {
    width: 95%;
    display: block;
    float: left; }

.col-96 {
    width: 96%;
    display: block;
    float: left; }

.col-97 {
    width: 97%;
    display: block;
    float: left; }

.col-98 {
    width: 98%;
    display: block;
    float: left; }

.col-99 {
    width: 99%;
    display: block;
    float: left; }

.col-100 {
    width: 100%;
    display: block;
    float: left; }

.w-1 {
    width: 1%; }

.w-2 {
    width: 2%; }

.w-3 {
    width: 3%; }

.w-4 {
    width: 4%; }

.w-5 {
    width: 5%; }

.w-6 {
    width: 6%; }

.w-7 {
    width: 7%; }

.w-8 {
    width: 8%; }

.w-9 {
    width: 9%; }

.w-10 {
    width: 10%; }

.w-11 {
    width: 11%; }

.w-12 {
    width: 12%; }

.w-13 {
    width: 13%; }

.w-14 {
    width: 14%; }

.w-15 {
    width: 15%; }

.w-16 {
    width: 16%; }

.w-17 {
    width: 17%; }

.w-18 {
    width: 18%; }

.w-19 {
    width: 19%; }

.w-20 {
    width: 20%; }

.w-21 {
    width: 21%; }

.w-22 {
    width: 22%; }

.w-23 {
    width: 23%; }

.w-24 {
    width: 24%; }

.w-25 {
    width: 25%; }

.w-26 {
    width: 26%; }

.w-27 {
    width: 27%; }

.w-28 {
    width: 28%; }

.w-29 {
    width: 29%; }

.w-30 {
    width: 30%; }

.w-31 {
    width: 31%; }

.w-32 {
    width: 32%; }

.w-33 {
    width: 33%; }

.w-34 {
    width: 34%; }

.w-35 {
    width: 35%; }

.w-36 {
    width: 36%; }

.w-37 {
    width: 37%; }

.w-38 {
    width: 38%; }

.w-39 {
    width: 39%; }

.w-40 {
    width: 40%; }

.w-41 {
    width: 41%; }

.w-42 {
    width: 42%; }

.w-43 {
    width: 43%; }

.w-44 {
    width: 44%; }

.w-45 {
    width: 45%; }

.w-46 {
    width: 46%; }

.w-47 {
    width: 47%; }

.w-48 {
    width: 48%; }

.w-49 {
    width: 49%; }

.w-50 {
    width: 50%; }

.w-51 {
    width: 51%; }

.w-52 {
    width: 52%; }

.w-53 {
    width: 53%; }

.w-54 {
    width: 54%; }

.w-55 {
    width: 55%; }

.w-56 {
    width: 56%; }

.w-57 {
    width: 57%; }

.w-58 {
    width: 58%; }

.w-59 {
    width: 59%; }

.w-60 {
    width: 60%; }

.w-61 {
    width: 61%; }

.w-62 {
    width: 62%; }

.w-63 {
    width: 63%; }

.w-64 {
    width: 64%; }

.w-65 {
    width: 65%; }

.w-66 {
    width: 66%; }

.w-67 {
    width: 67%; }

.w-68 {
    width: 68%; }

.w-69 {
    width: 69%; }

.w-70 {
    width: 70%; }

.w-71 {
    width: 71%; }

.w-72 {
    width: 72%; }

.w-73 {
    width: 73%; }

.w-74 {
    width: 74%; }

.w-75 {
    width: 75%; }

.w-76 {
    width: 76%; }

.w-77 {
    width: 77%; }

.w-78 {
    width: 78%; }

.w-79 {
    width: 79%; }

.w-80 {
    width: 80%; }

.w-81 {
    width: 81%; }

.w-82 {
    width: 82%; }

.w-83 {
    width: 83%; }

.w-84 {
    width: 84%; }

.w-85 {
    width: 85%; }

.w-86 {
    width: 86%; }

.w-87 {
    width: 87%; }

.w-88 {
    width: 88%; }

.w-89 {
    width: 89%; }

.w-90 {
    width: 90% !important;}

.w-91 {
    width: 91%; }

.w-92 {
    width: 92%; }

.w-93 {
    width: 93%; }

.w-94 {
    width: 94%; }

.w-95 {
    width: 95%; }

.w-96 {
    width: 96%; }

.w-97 {
    width: 97%; }

.w-98 {
    width: 98%; }

.w-99 {
    width: 99%; }

.w-100 {
    width: 100%!important;
}

.message {
    display: block;
    line-height: 40px;
    width: 100%;
    text-align: center;
    position: relative;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in; }
.message.message-success {
    background: #c8e896;
    color: #69863c; }
.message.message-error {
    background: #f8a593;
    color: #b95e4b; }
.message span.close {
    display: block;
    background: url("../img/icon_action_close.png") no-repeat;
    position: absolute;
    width: 7px;
    height: 7px;
    right: 30px;
    top: 17px;
    cursor: pointer;
    opacity: .5; }

span.errorMessage {
    color: #f2594b; }

.content_footer {
    -webkit-box-shadow: inset 0 1px 0 white;
    -moz-box-shadow: inset 0 1px 0 white;
    box-shadow: inset 0 1px 0 white;
    border-top: 1px solid #e7ebee; }
.content_footer span {
    margin-left: 30px;
    line-height: 64px;
    color: #bec7cd; }

.content {
    min-height: calc(100vh - 66px);
    min-width: 960px;
    background: #f7f9fb; }
.content .header {
    background: url("../img/bg_header.png") repeat-x;
    height: 38px;
    border-bottom: 1px solid #fff;
    padding: 21px 30px;
    width: calc(100%-60px);
    position: relative;
    color: #fff; }
.content .header .breadcrumbs {
    font-family: pn_bold, arial, sans-serif;
    display: block;
    float: left;
    line-height: 38px; }
.content .header .breadcrumbs a {
    color: #fff;
    display: block;
    float: left; }
.content .header .breadcrumbs a:after {
    content: "";
    background: url("../img/icon_arrow_breadcrumbs.png") no-repeat;
    display: block;
    float: right;
    width: 3px;
    height: 5px;
    margin: 17px 10px 0 10px; }
.content .header .breadcrumbs span {
    display: block;
    float: left; }
.content .header .btns {
    display: block;
    float: right; }
.content .header .btns .advanced {
    font-family: pn_bold, arial, sans-serif;
    display: block;
    float: left;
    line-height: 38px;
    margin-right: 30px; }
.content .header .btns .advanced a {
    color: #fff; }
.content .header .btns .back {
    display: block;
    cursor: pointer;
    float: right;
    height: 38px;
    width: auto;
    padding: 0 40px;
    text-decoration: none;
    line-height: 38px;
    position: relative;
    color: #7b888e;
    background-color: white;
    background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#eeeeee));
    background-image: -webkit-linear-gradient(top, white, #eeeeee);
    background-image: -moz-linear-gradient(top, white, #eeeeee);
    background-image: -ms-linear-gradient(top, white, #eeeeee);
    background-image: -o-linear-gradient(top, white, #eeeeee);
    background-image: linear-gradient(top, white, #eeeeee);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3); }
.content .header .btns .back:hover {
    background-color: #eeeeee;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(white));
    background-image: -webkit-linear-gradient(top, #eeeeee, white);
    background-image: -moz-linear-gradient(top, #eeeeee, white);
    background-image: -ms-linear-gradient(top, #eeeeee, white);
    background-image: -o-linear-gradient(top, #eeeeee, white);
    background-image: linear-gradient(top, #eeeeee, white); }
.content .header .btns .back:active {
    border-bottom: 1px solid #80ceef;
    background-color: #3999c3;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#3999c3), to(#3ba4d1));
    background-image: -webkit-linear-gradient(top, #3999c3, #3ba4d1);
    background-image: -moz-linear-gradient(top, #3999c3, #3ba4d1);
    background-image: -ms-linear-gradient(top, #3999c3, #3ba4d1);
    background-image: -o-linear-gradient(top, #3999c3, #3ba4d1);
    background-image: linear-gradient(top, #3999c3, #3ba4d1);
    -webkit-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.3);
    color: #fff; }
.content .header .btns .add {
    display: block;
    cursor: pointer;
    float: right;
    height: 38px;
    line-height: 38px;
    position: relative;
    color: #7b888e;
    background-color: white;
    background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#eeeeee));
    background-image: -webkit-linear-gradient(top, white, #eeeeee);
    background-image: -moz-linear-gradient(top, white, #eeeeee);
    background-image: -ms-linear-gradient(top, white, #eeeeee);
    background-image: -o-linear-gradient(top, white, #eeeeee);
    background-image: linear-gradient(top, white, #eeeeee);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3); }
.content .header .btns .add::selection {
    background: transparent; }
.content .header .btns .add.actv {
    border-bottom: 1px solid #80ceef;
    background: #000;
    background-color: #3999c3;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#3999c3), to(#3ba4d1));
    background-image: -webkit-linear-gradient(top, #3999c3, #3ba4d1);
    background-image: -moz-linear-gradient(top, #3999c3, #3ba4d1);
    background-image: -ms-linear-gradient(top, #3999c3, #3ba4d1);
    background-image: -o-linear-gradient(top, #3999c3, #3ba4d1);
    background-image: linear-gradient(top, #3999c3, #3ba4d1);
    -webkit-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.3);
    color: #fff; }
.content .header .btns .add.actv span {
    background: transparent url("../img/icon_arrow_dropdown_up.png") no-repeat top 48% right 15px; }
.content .header .btns .add span {
    background: transparent url("../img/icon_arrow_dropdown.png") no-repeat top 50% right 15px;
    padding: 0 40px 0 20px;
    display: block; }
.content .header .btns .add span::selection {
    background: transparent; }
.content .header .btns .add .subnav {
    display: none;
    position: absolute;
    background: #fff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    z-index: 255;
    top: 50px;
    right: 0;
    margin-left: -70px;
    padding: 0; }
.content .header .btns .add .subnav ul {
    padding: 0;
    list-style: none;
    width: auto; }
.content .header .btns .add .subnav ul li {
    border-bottom: 1px solid #eee; }
.content .header .btns .add .subnav ul li:last-child {
    border: none;
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px; }
.content .header .btns .add .subnav ul li:last-child:hover {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px; }
.content .header .btns .add .subnav ul li:first-child {
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0; }
.content .header .btns .add .subnav ul li:first-child:after {
    bottom: 100%;
    right: 15px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 5px;
    margin-left: -5px; }
.content .header .btns .add .subnav ul li:first-child:hover:after {
    bottom: 100%;
    right: 15px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #f9f9f9;
    border-width: 5px;
    margin-left: -5px; }
.content .header .btns .add .subnav ul li:hover {
    background: #f9f9f9; }
.content .header .btns .add .subnav ul li a {
    padding: 12px 15px;
    color: #626c70;
    text-decoration: none;
    display: block;
    line-height: 1.2em; }
.content .filter {
    border-bottom: 1px solid #d8e0e5;
    padding: 14px 30px;
    height: 32px;
    width: calc(100%-60px); }
.content .filter form input[type="submit"] {
    background-color: #f8fafb;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f8fafb), to(#ecf1f5));
    background-image: -webkit-linear-gradient(top, #f8fafb, #ecf1f5);
    background-image: -moz-linear-gradient(top, #f8fafb, #ecf1f5);
    background-image: -ms-linear-gradient(top, #f8fafb, #ecf1f5);
    background-image: -o-linear-gradient(top, #f8fafb, #ecf1f5);
    background-image: linear-gradient(top, #f8fafb, #ecf1f5);
    -webkit-box-shadow: inset 0 1px 0px white;
    -moz-box-shadow: inset 0 1px 0px white;
    box-shadow: inset 0 1px 0px white;
    border: 1px solid #c5cfda;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 0 20px;
    margin: 0 0 0 10px;
    color: #737D87;
    height: 32px; }
.content .filter form input[type="submit"]:hover {
    background-color: #ecf1f5;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ecf1f5), to(#f8fafb));
    background-image: -webkit-linear-gradient(top, #ecf1f5, #f8fafb);
    background-image: -moz-linear-gradient(top, #ecf1f5, #f8fafb);
    background-image: -ms-linear-gradient(top, #ecf1f5, #f8fafb);
    background-image: -o-linear-gradient(top, #ecf1f5, #f8fafb);
    background-image: linear-gradient(top, #ecf1f5, #f8fafb); }
.content .filter form fieldset {
    padding: 0;
    margin: 0;
    border: 0;
    display: block;
    float: left; }
.content .filter form fieldset label {
    display: block;
    float: left;
    margin: 0 10px;
    line-height: 32px; }
.content .filter form fieldset .hidden_select_container {
    display: block;
    float: left; }
.content .filter form fieldset .select_box {
    display: block;
    float: left;
    margin-right: 15px; }
.content .filter form fieldset input {
    width: 100px;
    height: 30px;
    padding: 0 10px;
    margin-right: 10px;
    border: none;
    display: block;
    float: left;
    color: #80888f;
    background: #fff;
    border: 1px solid #c5cfda;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.1); }
.content .filter form fieldset.search_field button {
    border: none;
    width: 30px;
    height: 30px;
    display: block;
    float: left;
    background: transparent; }
.content .filter form fieldset.search_field button img {
    margin-top: 5px; }
.content .filter form.sort {
    display: block;
    float: left; }
.content .filter form.per_page {
    display: block;
    float: right; }
.content .filter form.per_page .select_box {
    margin: 0; }
.content .padd {
    padding: 10px 30px;
    /*width: calc(100% - 60px); */
}
.content .padd:before {
    clear: both;
    content: " ";
    display: block; }
.table {
    width: 100%;
    background: #fff; }
.table thead {
    background-color: #f8fafb;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f8fafb), to(#eaeff3));
    background-image: -webkit-linear-gradient(top, #f8fafb, #eaeff3);
    background-image: -moz-linear-gradient(top, #f8fafb, #eaeff3);
    background-image: -ms-linear-gradient(top, #f8fafb, #eaeff3);
    background-image: -o-linear-gradient(top, #f8fafb, #eaeff3);
    background-image: linear-gradient(top, #f8fafb, #eaeff3);
    border-top: 1px solid #fff;
    border-bottom: 1px solid #d7dde2; }
.table thead tr th {
    font-weight: normal;
    text-align: left;
    padding: 0;
    color: #778185;
    padding: 14px 5px;  }
.table thead tr th a {
    color: #778185;
    display: block;
    text-decoration: none;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline; }
.table thead tr th a:after {
    content: "";
    width: 5px;
    height: 8px;
    padding: 0;
    margin: 5px 0 0 5px;
    background: url("../img/icon_arrows_sort.png") no-repeat 0 0;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline; }
.table thead tr th a.desc:after {
    margin-top: 7px;
    background: url("../img/icon_arrows_sort.png") no-repeat 0 -5px; }
.table thead tr th a.asc:after {
    margin-top: 2px;
    background: url("../img/icon_arrows_sort.png") no-repeat 0 5px; }
.table thead tr th:first-child {
    padding-left: 15px; }
.table thead tr th:last-child {
    padding-right: 5px; }
.table thead tr th.center {
    text-align: center; }
.table tbody tr:hover {
    background: #f7f9fb; }
.table tbody tr td {
    padding: 10px 5px;
    border-bottom: 1px solid #d7dde2;
    position: relative}
.table tbody tr td:first-child {
    padding-left: 15px;
    padding-right: 10px; }
.table tbody tr td:last-child {
    text-align: left
}
.table tbody tr td.center:last-child {
    text-align: center
}
.table tbody tr td.center:last-child {
    text-align: center
}
table tbody tr td span.error {
    color: #f2594b; }
.table tbody tr td span.success {
    color: #69863c; }
.table tbody tr td a {
    color: #677175;
    text-decoration: none; }
.file-input-link {
    padding: 5px 0px 0px 5px;
}
.file-input-link a {
    color: #677175;
    text-decoration: none;
}
.table td input[type="text"].text {
    width: calc(100% - 40px);

    text-align: left;
}
.table tbody td input[type='text'] {
    height: 30px;
    /*width: 75px;*/
    text-align: left;
}
.table tbody td textarea {
    text-align: left;
    height: 100px;
    resize: vertical;
    padding-top: 5px;
    padding-bottom: 5px;
}
.table td input[type="text"], .table td textarea {
    width: calc(100% - 22px);
    height: 24px;
    text-align: center;
    padding: 0 10px;
    border: 1px solid #c5cfda;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.1);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: #fff;
    /*display: block;*/
    color: #80888f; }
table.table-vertical tr:first-child {
    border-top: 1px solid #d7dde2; }
table.table-vertical tr td {
    padding: 10px;
    border-bottom: 1px solid #d7dde2;
}
table.table-vertical tr td:first-child {
    background-color: #f8fafb;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f8fafb), to(#eaeff3));
    background-image: -webkit-linear-gradient(top, #f8fafb, #eaeff3);
    background-image: -moz-linear-gradient(top, #f8fafb, #eaeff3);
    background-image: -ms-linear-gradient(top, #f8fafb, #eaeff3);
    background-image: -o-linear-gradient(top, #f8fafb, #eaeff3);
    background-image: linear-gradient(top, #f8fafb, #eaeff3);
    border-bottom: 1px solid #d7dde2;
    border-right: 1px solid #d7dde2; }
table.width-100 {
    width: 100%;
}
.content .data table {
    width: 100%;
    background: #fff;
}
.content .data .actions {
    padding: 20px 0 20px 30px;
    display: block;
    float: left; }
.content .data .actions fieldset {
    display: block;
    float: left;
    border-right: 1px solid #ccc;
    margin-right: 20px; }
.content .data .actions fieldset .select_box, .content .data .actions fieldset input[type="checkbox"], .content .data .actions fieldset label, .content .data .actions fieldset select, .content .data .actions fieldset input[type="submit"], .content .data .actions fieldset .hidden_select_container, .content .data .actions fieldset .simpleselect {
    float: left;
    margin-right: 20px;
    line-height: 30px; }
.content .data .actions fieldset .chbx {
    margin-top: 5px; }
.content .data .actions fieldset input[type="submit"] {
    width: auto !important;
    background-color: #f8fafb;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f8fafb), to(#ecf1f5));
    background-image: -webkit-linear-gradient(top, #f8fafb, #ecf1f5);
    background-image: -moz-linear-gradient(top, #f8fafb, #ecf1f5);
    background-image: -ms-linear-gradient(top, #f8fafb, #ecf1f5);
    background-image: -o-linear-gradient(top, #f8fafb, #ecf1f5);
    background-image: linear-gradient(top, #f8fafb, #ecf1f5);
    -webkit-box-shadow: inset 0 1px 0px white;
    -moz-box-shadow: inset 0 1px 0px white;
    box-shadow: inset 0 1px 0px white;
    border: 1px solid #c5cfda;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 0 20px;
    margin: 0;
    color: #737D87;
    height: 32px; }
.content .data .actions fieldset input[type="submit"]:hover {
    background-color: #ecf1f5;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ecf1f5), to(#f8fafb));
    background-image: -webkit-linear-gradient(top, #ecf1f5, #f8fafb);
    background-image: -moz-linear-gradient(top, #ecf1f5, #f8fafb);
    background-image: -ms-linear-gradient(top, #ecf1f5, #f8fafb);
    background-image: -o-linear-gradient(top, #ecf1f5, #f8fafb);
    background-image: linear-gradient(top, #ecf1f5, #f8fafb); }
.content .data .actions fieldset:last-child {
    border: none;
    margin: 0; }
.content .data .summary {
    display: block;
    float: left;
    margin: 15px 0px 15px 30px;
    padding: 0;
}
.content .data ul.pagination {
    list-style: none;
    display: block;
    float: right;
    margin: 10px 30px;
    padding: 0; }
.content .data ul.pagination li {
    display: block;
    float: left;
    margin-left: 5px; }
.content .data ul.pagination li.first a {
    background: url("../img/icon_arrow_pagination_double_left.png") no-repeat 7px 8px; }
.content .data ul.pagination li.last a {
    background: url("../img/icon_arrow_pagination_double_right.png") no-repeat 7px 8px; }
.content .data ul.pagination li.prev a {
    background: url("../img/icon_arrow_pagination_left.png") no-repeat 8px 8px; }
.content .data ul.pagination li.next a {
    background: url("../img/icon_arrow_pagination_right.png") no-repeat 8px 8px; }
.content .data ul.pagination li.active a {
    background: #c0cbd0;
    color: #fff;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border-bottom: 1px solid #fff;
    -webkit-box-shadow: inset 0 1px 1px #869095;
    -moz-box-shadow: inset 0 1px 1px #869095;
    box-shadow: inset 0 1px 1px #869095; }
.content .data ul.pagination li.hidden, .content .data ul.pagination li.disabled{
    display: none; }
.content .data ul.pagination li a {
    display: block;
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 28px;
    text-decoration: none;
    color: #98a1aa;
    font-size: 15px;
    font-family: 'pn_bold'; }
.content .data ul.pagination li a:hover {
    opacity: .5; }
.content .tabs ul {
    list-style: none;
    display: block;
    height: 65px;
    padding: 0;
    background: #fff;
    padding: 0 30px; }
.content .tabs ul li {
    display: block;
    float: left;
    margin-right: 30px;
    padding: 26px 0 22px 0; }
.content .tabs ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #2ba3d4;
    border-bottom: 1px dashed #2ba3d4;
    line-height: 13px;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline; }
.content .tabs ul li.active a {
    color: #666e75;
    border: none; }
.content .tabs .tab_item {
    display: block;
    padding: 30px;
    width: calc(100%-60px); }
.float_r {
    display: block;
    float: right; }
.float_l {
    display: block;
    float: left; }
fieldset {
    margin-bottom: 5px; }
.data label {
    display: block;
    color: #737c85; }
fieldset > span {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
    margin: 5px 0;
    font-size: 12px;
    height: 14px;
    line-height: 14px; }
textarea.width-100, input.width-100 {
    width: calc(100% - 22px);
}
fieldset input[type="text"],fieldset input[type="password"], fieldset textarea, thead input {
    color: #737c85;
    background: #fff;
    border: 1px solid #c5cfda;
    padding: 6px 10px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.1);
    width: calc(100% - 22px);
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in; }
.content .tabs .tab_item fieldset input:focus, .content .tabs .tab_item fieldset textarea:focus {
    border: 1px solid #A3ACB6; }
.content .tabs .tab_item fieldset textarea {
    resize: none;
    min-height: 100px; }
fieldset .switch {
    display: block;
    float: left; }
fieldset .text {
    display: block;
    float: left;
    margin-left: 10px; }
.content .tabs .tab_item fieldset .image img {
    max-height: 100px;
    margin: 10px 0; }
.content .action_buttons {
    display: block;
    text-align: center;
    margin: 20px; }
.content .action_buttons a.back {
    color: #83898e;
    margin-right: 10px;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
    line-height: 36px; }
.content .action_buttons .save {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
    border-collapse: collapse;
    margin: 0 auto;
    background-color: #5fbde3;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#5fbde3), to(#4ca9d4));
    background-image: -webkit-linear-gradient(top, #5fbde3, #4ca9d4);
    background-image: -moz-linear-gradient(top, #5fbde3, #4ca9d4);
    background-image: -ms-linear-gradient(top, #5fbde3, #4ca9d4);
    background-image: -o-linear-gradient(top, #5fbde3, #4ca9d4);
    background-image: linear-gradient(top, #5fbde3, #4ca9d4);
    border: 0;
    border-bottom: 1px solid #408fb2;
    color: #fff;
    margin: 0 10px;
    padding: 10px 30px 8px 30px;
    font-family: pn_bold, arial, sans-serif;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    -moz-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    -webkit-transition: all 0.1s ease-in;
    -ms-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in; }
.content .action_buttons .save:hover {
    background-color: #4ca9d4;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#4ca9d4), to(#5fbde3));
    background-image: -webkit-linear-gradient(top, #4ca9d4, #5fbde3);
    background-image: -moz-linear-gradient(top, #4ca9d4, #5fbde3);
    background-image: -ms-linear-gradient(top, #4ca9d4, #5fbde3);
    background-image: -o-linear-gradient(top, #4ca9d4, #5fbde3);
    background-image: linear-gradient(top, #4ca9d4, #5fbde3); }
.content .action_buttons .save:active {
    border-color: #fff;
    -webkit-box-shadow: inset 0px 2px 4px #408fb2;
    -moz-box-shadow: inset 0px 2px 4px #408fb2;
    box-shadow: inset 0px 2px 4px #408fb2;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2); }
.widgets-wrapper {
    padding: 30px;
    clear: both;
}
.widget {
    background: #fff;
    border: 1px solid #d7dde2;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin-bottom: 30px; }
.widget .whead {
    background-color: #f8fafb;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f8fafb), to(#eaeff3));
    background-image: -webkit-linear-gradient(top, #f8fafb, #eaeff3);
    background-image: -moz-linear-gradient(top, #f8fafb, #eaeff3);
    background-image: -ms-linear-gradient(top, #f8fafb, #eaeff3);
    background-image: -o-linear-gradient(top, #f8fafb, #eaeff3);
    background-image: linear-gradient(top, #f8fafb, #eaeff3);
    -moz-border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
    border-bottom: 1px solid #d7dde2;
    line-height: 14px;
    padding: 18px 30px;
    box-sizing: border-box; }
.widget .whead .wtitle {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
    font-family: pn_bold, arial, sans-serif;
    color: #7d898e; }
.widget .whead .wlinks {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
    text-align: center;
    margin: 0 auto; }
.widget .whead .wlinks a {
    color: #1b79a9;
    margin: 0 10px; }
.widget .whead .wlinks a.active {
    color: #7d898e;
    text-decoration: none; }
.widget .whead .ya {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline; }
.widget .whead .ya a {
    color: #333;
    font-weight: 600;
    display: block;
    border-bottom: 1px solid #666;
    line-height: 13px; }
.widget .whead .ya a:hover {
    border: none; }
.widget .whead .ya a span {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
    float: left; }
.widget .wbody table tr:last-child td {
    border: none; }
.widget .wbody table tr td:last-child {
    width: 0%;
    text-align: right;
    white-space: nowrap;
    word-wrap: normal;
    padding: 0px 20px 0px 0px; }
.widget .wbody table tr td:first-child {
    width: 0%;
    white-space: nowrap;
    word-wrap: normal;
    padding-right: 20px; }
.widget .wbody table tr td.role {
    width: 100%;
    text-align: center;
    color: #bcc5c9; }
.ta-left{
    text-align: left!important;
}
.uppic-container {
    box-shadow: 0px 1px 0px #FFF inset;
    border: 1px solid #E7EBEE;
    padding: 5px;
    width: 170px;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 3px;
}
.uppic-container .upload-image {
    height: 155px;
    display: block;
    position: relative;
}
.uppic-container img {
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.uppic-container .upload-file {
    height: 60px;
    display: flex;
    position: relative;
    text-decoration: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.uppic-container .upload-file .format{
    display: flex;
    margin-right: 5px;
    border-radius: 50%;
    border: 2px solid #5DBBE2;
    color: #5DBBE2;
    width: 40px;
    height: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.del_one_link {

}
.img_view {
    box-shadow: 0px 1px 0px #FFF inset;
    border-radius: 3px;
    border: 1px solid #E7EBEE;
    display: block;
    text-align: center;
    width: 200px;
    padding: 5px;
}
.img_view img {
    max-width: 100%;
}
.button {
    display: inline-block;
    padding: 6px 15px;
    background-color: #f8fafb;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f8fafb), to(#ecf1f5));
    background-image: -webkit-linear-gradient(top, #f8fafb, #ecf1f5);
    background-image: -moz-linear-gradient(top, #f8fafb, #ecf1f5);
    background-image: -ms-linear-gradient(top, #f8fafb, #ecf1f5);
    background-image: -o-linear-gradient(top, #f8fafb, #ecf1f5);
    background-image: linear-gradient(top, #f8fafb, #ecf1f5);
    -webkit-box-shadow: inset 0 1px 0px white;
    -moz-box-shadow: inset 0 1px 0px white;
    box-shadow: inset 0 1px 0px white;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #c5cfda;
    margin: 0;
    color: #737D87;
    cursor: pointer;
    line-height: 18px;
    text-align: center;
    text-decoration: none;
}

.button:hover {
    background-color: #ecf1f5;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ecf1f5), to(#f8fafb));
    background-image: -webkit-linear-gradient(top, #ecf1f5, #f8fafb);
    background-image: -moz-linear-gradient(top, #ecf1f5, #f8fafb);
    background-image: -ms-linear-gradient(top, #ecf1f5, #f8fafb);
    background-image: -o-linear-gradient(top, #ecf1f5, #f8fafb);
    background-image: linear-gradient(top, #ecf1f5, #f8fafb);
}
.button.delete-button {
    width: 100%;
}
.uploader-wrapper {
    clear: both;
}
.progress {
    height: 30px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 4px 0px 0px 4px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1) inset;
    width: calc(100% - 78px);
    float: left;
    border: 1px solid #C5CFDA;
}
.progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #428bca;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}
.progress-bar-success {
    background-color: #5cb85c;
}
.progress .bar {
    text-align: center;
    background: #68BEE4;
    height: 32px;
    line-height: 32px;
    color: white;
    overflow: hidden;
}

.upload-button {
    text-align: center;
    padding: 6px 15px 6px;
    background-color: #F8FAFB;
    background-image: -moz-linear-gradient(center top , #F8FAFB, #ECF1F5);
    box-shadow: 0px 1px 0px #FFF inset;
    border-radius: 0px 3px 3px 0px;
    border: 1px solid #C5CFDA;
    border-left: none;
    margin: 0px;
    color: #737D87;
    cursor: pointer;
    line-height: 18px;
    width: 45px;
    float: right;
}
.upload-button:hover {
    background-color: #ECF1F5;
    background-image: -moz-linear-gradient(center top , #ECF1F5, #F8FAFB);
}
.radio-list-element {
    margin-bottom: 5px;
}

.radio-button {
    position: relative;
}
.radio-button input[type="radio"] {
    display: none;
}
.radio-button span {
    padding-left: 25px;
}
.radio-button span:empty {
    padding-left: 19px;
}
.radio-button input[type="radio"]:checked + span::after {
    content: '';
    background-color: #60C9F5;
    height: 9px;
    width: 9px;
    display: inline-block;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 5px;
}
.radio-button span::before {
    content: '';
    display: inline-block;
    width: 17px;
    height: 17px;
    margin-right: 5px;
    cursor: pointer;
    border: 1px solid #B5BCC3;
    border-radius: 50%;
    background-color: white;
    box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.1);
    position: absolute;
    vertical-align: middle;
    left: 0px;
}

.ya-color-wrapper {
    margin-bottom: 10px;
    float: left;
    width: 120px;
    margin-right: 15px;
}

.ya-color {
    height: 16px;
    width: 70px;
    display: inline-block;
    margin-left: 5px;
    border: 1px solid white;
}

.ya-color-blueStretchyIcon {
    background-color: #1A7AD2;
}
.ya-color-darkblueStretchyIcon {
    background-color: #4052E6;
}
.ya-color-darkgreenStretchyIcon {
    background-color: #1E8B16;
}
.ya-color-darkorangeStretchyIcon {
    background-color: #CC6F37;
}
.ya-color-greenStretchyIcon {
    background-color: #28B41E;
}
.ya-color-greyStretchyIcon {
    background-color: #959590;
}
.ya-color-lightblueStretchyIcon {
    background-color: #4793E4;
}
.ya-color-nightStretchyIcon {
    background-color: #173C6B;
}
.ya-color-orangeStretchyIcon {
    background-color: #CDA63D;
}
.ya-color-pinkStretchyIcon {
    background-color: #E56DDD;
}
.ya-color-redStretchyIcon {
    background-color: #DF3A39;
}
.ya-color-violetStretchyIcon {
    background-color: #A52EE2;
}
.ya-color-whiteStretchyIcon {
    background-color: #FFFFFF;
    border-color: black;
}
.ya-color-yellowStretchyIcon {
    background-color: #D6C841;
}
.ya-color-brownStretchyIcon {
    background-color: #946239;
}
.ya-color-blackStretchyIcon {
    background-color: #293441;
}

.active-icon {
    background: no-repeat center center transparent;
    height: 16px;
    width: 16px;
    display: inline-block;
    vertical-align: middle;
}
.active-icon-view {
    /*background-image: url('../img/icon_action_view.png');*/
    background-image: url('../img/icon_action_edit.png');
    /*width: 22px;*/
}
.active-icon-save {
    background-image: url('../img/icon_action_save.png');
}
.active-icon-delete {
    background-image: url('../img/icon_action_delete.png');
}
.active-icon-images {
    background-image: url('../img/icon_action_images.png');
}
.table thead tr th a.grid-action::after {
    content: none;
}

td.can-hiden {
    text-align: center;
    cursor: pointer;
    padding-left: 10px !important;
}

.alias-check-box {
    display: block;
    float: right;
    margin-top: 6px;
}
.alias-check-box .chbx {
    display: block;
    float: left;
}
.alias-text-input {
    width: calc(100% - 90px) ! important;
}

img.fav-icon {
    vertical-align: middle;
    padding-left: 5px;
}
tr.filters td:empty {
    padding: 0px;

}
tr.filters td .select2-container--default .select2-selection--single .select2-selection__arrow{
    height: 24px;
}
tr.filters td .select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 26px;
}
tr.filters td .select2-container .select2-selection--single{
    height: 26px;
}
tr.filters td{
    padding: 0px 5px;
    position: relative;
}
.filter-input {
    width: calc(100% - 22px);
    height: 24px;
    padding: 0;
    border: 1px solid #c5cfda;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.1);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: #fff;
    display: block;
    margin: 7px 0px 6px 0;
}
td input.filter-input-text[type='text'] {
    width: calc(100% - 68px);
    height: 24px;
    text-align: left;
    padding: 0 10px;
    border: none;
    border-radius: 0;
    background: transparent;
    display: inline;
    box-shadow: none;
    color: #80888f;
}
.filter-button {
    display: inline-block;
    height: 16px;
    width: 16px;
    vertical-align: middle;
    cursor: pointer;
}
.filter-button:first-of-type {
    margin-right: 5px;
}
.filter-button.clean {
    color: #CDD6E0;
    font-weight: 500;
    font-size: 24px;
    line-height: 18px;
}
.filter-button.search {
    background: url('../img/icon_action_search.png') transparent no-repeat center center;
}
/*Preloader*/
#preloader{
    position:absolute;
    width:120px;
    height:14px;
    top:calc(50% - 7px);
    left: calc(50% - 60px);
    z-index: 99999;
}

.preloader{
    position:absolute;
    top:0;
    background-color:rgb(67,82,96);
    /*background-color:rgb(67,82,96);*/
    background-color:rgb(255,255,255);
    border: 1px solid #5AB9E1;
    width:14px;
    height:14px;
    animation-name:bounce_preloader;
    -o-animation-name:bounce_preloader;
    -ms-animation-name:bounce_preloader;
    -webkit-animation-name:bounce_preloader;
    -moz-animation-name:bounce_preloader;
    animation-duration:1.5s;
    -o-animation-duration:1.5s;
    -ms-animation-duration:1.5s;
    -webkit-animation-duration:1.5s;
    -moz-animation-duration:1.5s;
    animation-iteration-count:infinite;
    -o-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
    -moz-animation-iteration-count:infinite;
    animation-direction:normal;
    -o-animation-direction:normal;
    -ms-animation-direction:normal;
    -webkit-animation-direction:normal;
    -moz-animation-direction:normal;
    transform:scale(.3);
    -o-transform:scale(.3);
    -ms-transform:scale(.3);
    -webkit-transform:scale(.3);
    -moz-transform:scale(.3);
    border-radius:9px;
    -o-border-radius:9px;
    -ms-border-radius:9px;
    -webkit-border-radius:9px;
    -moz-border-radius:9px;
}

#preloader_1{
    left:0;
    animation-delay:0.6s;
    -o-animation-delay:0.6s;
    -ms-animation-delay:0.6s;
    -webkit-animation-delay:0.6s;
    -moz-animation-delay:0.6s;
}

#preloader_2{
    left:15px;
    animation-delay:0.75s;
    -o-animation-delay:0.75s;
    -ms-animation-delay:0.75s;
    -webkit-animation-delay:0.75s;
    -moz-animation-delay:0.75s;
}

#preloader_3{
    left:30px;
    animation-delay:0.9s;
    -o-animation-delay:0.9s;
    -ms-animation-delay:0.9s;
    -webkit-animation-delay:0.9s;
    -moz-animation-delay:0.9s;
}

#preloader_4{
    left:45px;
    animation-delay:1.05s;
    -o-animation-delay:1.05s;
    -ms-animation-delay:1.05s;
    -webkit-animation-delay:1.05s;
    -moz-animation-delay:1.05s;
}

#preloader_5{
    left:60px;
    animation-delay:1.2s;
    -o-animation-delay:1.2s;
    -ms-animation-delay:1.2s;
    -webkit-animation-delay:1.2s;
    -moz-animation-delay:1.2s;
}

#preloader_6{
    left:75px;
    animation-delay:1.35s;
    -o-animation-delay:1.35s;
    -ms-animation-delay:1.35s;
    -webkit-animation-delay:1.35s;
    -moz-animation-delay:1.35s;
}

#preloader_7{
    left:90px;
    animation-delay:1.5s;
    -o-animation-delay:1.5s;
    -ms-animation-delay:1.5s;
    -webkit-animation-delay:1.5s;
    -moz-animation-delay:1.5s;
}

#preloader_8{
    left:105px;
    animation-delay:1.64s;
    -o-animation-delay:1.64s;
    -ms-animation-delay:1.64s;
    -webkit-animation-delay:1.64s;
    -moz-animation-delay:1.64s;
}



@keyframes bounce_preloader{
    0%{
        transform:scale(1);
        /*background-color:rgb(67,82,96);*/
        background-color:rgb(255,255,255);
    }

    100%{
        transform:scale(.3);
        background-color:rgb(255,255,255);
    }
}

@-o-keyframes bounce_preloader{
    0%{
        -o-transform:scale(1);
        /*background-color:rgb(67,82,96);*/
        background-color:rgb(255,255,255);
    }

    100%{
        -o-transform:scale(.3);
        background-color:rgb(255,255,255);
    }
}

@-ms-keyframes bounce_preloader{
    0%{
        -ms-transform:scale(1);
        /*background-color:rgb(67,82,96);*/
        background-color:rgb(255,255,255);
    }

    100%{
        -ms-transform:scale(.3);
        background-color:rgb(255,255,255);
    }
}

@-webkit-keyframes bounce_preloader{
    0%{
        -webkit-transform:scale(1);
        /*background-color:rgb(67,82,96);*/
        background-color:rgb(255,255,255);
    }

    100%{
        -webkit-transform:scale(.3);
        background-color:rgb(255,255,255);
    }
}

@-moz-keyframes bounce_preloader{
    0%{
        -moz-transform:scale(1);
        /*background-color:rgb(67,82,96);*/
        background-color:rgb(255,255,255);
    }

    100%{
        -moz-transform:scale(.3);
        background-color:rgb(255,255,255);
    }
}

/*Preloader END*/
.padding-left-20{
    padding-left: 20px;
}
.padding-right-20{
    padding-right: 20px;
}
.margin-left-20{
    margin-left: 20px;
}
.margin-right-20{
    margin-right: 20px;
}
.margin-left-15{
    margin-left: 15px;
}
.margin-right-15{
    margin-right: 15px;
}
.clearfix {
    display: block;
}

.clearfix:after {
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    content: ".";
    line-height: 0;
}
.units-row{
    margin-bottom: 10px;
}
.red{
    color: red;
}

.line-box {
    border: 1px solid #E7EBEE;
    box-shadow: 0px 1px 0px white inset;
    border-radius: 3px;
    padding: 5px 10px;
}

.line-box legend {
    background-color: #F7F9FB;
    padding: 0px 5px;
}

.modal-buttons-wrap {
    text-align: right;
}

.content .data table.table-sku {
    margin: 30px -30px 0px;
    width: calc(100% + 60px);
}

.table-sku thead td {
    padding: 5px 5px;
    border-top: 1px solid #d7dde2;
}

.table-sku tr td:first-child {
    text-align: center;
    width: 30px;
}
.table-sku tr td:last-child {
    width: 100px;
}

td.has-edit {
    background-color: rgba(95, 189, 227, 0.5);
}

.landing-group {
    margin: 20px;
    padding: 20px;
    background-color: #F7F9FB;
    overflow: hidden;
}
.landing-group::after {
    left: 10px;
}
.landing-block::after {
    left: 7px;
}
.landing-group::after, .landing-block::after {
    content: '';
    position: absolute;
    display: block;
    height: calc(100% - 8px);
    width: 7px;
    top: 0;
    background: url('../img/icon_move.png') transparent repeat;
    cursor: move;
}
.landing-block-content {
    padding: 0px 10px;
}
.ui-sortable-helper {
    cursor: move;
    margin-right: 0px;
}
.landing-group legend {
    font-weight: bold;
    font-size: 18px;
    border-radius: 3px;
}
.landing-block legend {
    font-size: 16px;
}

.landing-block {
    float: left;
    margin: 0px 10px;
    background-color: #F7F9FB;
}
.ui-sortable {
    overflow: hidden;
}

.landing-block-1 {
    width: calc(100% - 40px);
}

.landing-block-2 {
    width: calc(50% - 42px);
}

.landing-block-3 {
    width: calc(33.3% - 42px);
}

.landing-block-4 {
    width: calc(25% - 42px);
}
.landing-block-5:first-child {
    width: calc(25% - 42px);
}
.landing-block-5:last-child {
    width: calc(75% - 43px);
}
.landing-block-6:first-child {
    width: calc(75% - 43px);
}
.landing-block-6:last-child {
    width: calc(25% - 42px);
}

.alert-warning {
    text-align: center;
    padding: 10px;
    color: #ff7171;
    background-color: #EDF2F6;
    border-radius: 3px;
    border: 1px solid #E7EBEE;
    width: calc(100% - 39px);
    margin: 0 auto 10px;
}
.landing-show-wrapper {
    margin: 0px 10px 10px;
}

.filter-input-text-header {
    width: 200px;
    height: 30px;
    text-align: left;
    padding: 0 10px;
    border: 1px solid #c5cfda;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -webkit-box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.1);
    border-radius: 3px 0 0 3px!important;
    background: #fff;
    display: inline-block;
    color: #80888f;

}
.filters{
    display: none;
}
.filter-block-header{
    margin: 22px 30px 22px 22px;
}
.filter-input-btn{
    border-radius: 0 3px 3px 0!important;
    border-left: 0;
}
.filter-block-header i{
    margin: 0!important;
}

.related-good {
    display: inline-block;
    text-align: center;
    width: 130px;
    margin-right: 5px;
}
.related-good a {
    color: #737c85;
    text-decoration: none;
}
.related-good img {
    max-width: 100%;
}
.related-good .button {
    width: 100%;
}

.good-option-select2 {
    min-height: 25px;
}

.good-option-select2 span {
    line-height: 25px;
    padding-left: 30px;
}
.good-option-select2 img {
    vertical-align: middle;
    padding-right: 5px;
}

.image-crop input[type="text"] {
    display: inline-block;
    width: calc(50% - 38px);
}

.image-crop fieldset {
    width: 18px;
    float: right;
    text-align: center;
    margin-top: 6px;
}

fieldset input[type=text][disabled] {
    background-color: #dedede;
}

abbr[title] {
    border-bottom: 1px dashed;
    cursor: help;
}

.login a {
    text-decoration: none;
    color: #93a1ad;
}

.login a:hover {
    text-decoration: underline;
}

.margin-top-10 {
    margin-top: 10px;
}

.table-prop-values {
    width: calc(100% + 60px);
    margin: 30px -30px 0;
}

#generate-sku:disabled {
    background-color: #a5a5a5;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#a5a5a5), to(#2c627a));
    background-image: -webkit-linear-gradient(top, #a5a5a5, #2c627a);
    background-image: -moz-linear-gradient(top, #a5a5a5, #2c627a);
    background-image: -ms-linear-gradient(top, #a5a5a5, #2c627a);
    background-image: -o-linear-gradient(top, #a5a5a5, #2c627a);
    background-image: linear-gradient(top, #a5a5a5, #2c627a);
    border: 0;
    border-bottom: 1px solid #1f4758;
    color: #fff;    
}

.article-element:hover {
    color: #505555;
}
.article-element {
    border: none;
    border-radius: 100px;
    background-color: #11CC3A;
    color: white;
    margin-top: 5px;
    padding: 3px 10px;
}

.table-tab {
    margin: -30px -30px 0px;
}

.notice {
    padding: 10px;
    border: 1px solid #ecc7c7;
    box-shadow: 0px 1px 0px #fff inset;
    border-radius: 3px;
    margin: 10px 0px;
    color: #ec4444;
    text-align: center;
}
.phpinfo-link {
    color: #7D898E;
    float: right;
}

.draggable-ya-point {
    position: absolute;
    display: block;
    height: 5px;
    width: 5px;
    border-radius: 5px;
    border: 2px solid transparent;
    background-color: red;
    cursor: pointer;
    left: 5px;
    top: 5px;
}

.containment-wrapper-ya {
    position: relative;
    display: inline-block;
    margin: 10px 0px;
}

.content .tabs .tab_item fieldset .image .containment-wrapper-ya img {
    max-height: inherit;
    margin: 0px;
}

.filter-block-header label.grid-filter-check-button {
    display: inline;
}
.grid-filter-check-button input[type="checkbox"] {
    display: none;
}
.grid-filter-check-button input[type="checkbox"]:checked + span {
    box-shadow: inset 0px 2px 3px #0000001a;
    background-color: #d5d7d8;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#d5d7d8), to(#ecf1f5));
    background-image: -webkit-linear-gradient(top, #d5d7d8, #ecf1f5);
    background-image: -moz-linear-gradient(top, #d5d7d8, #ecf1f5);
    background-image: -ms-linear-gradient(top, #d5d7d8, #ecf1f5);
    background-image: -o-linear-gradient(top, #d5d7d8, #ecf1f5);
    background-image: linear-gradient(top, #d5d7d8, #ecf1f5);

}
.grid-filter-check-button span {
    padding: 6px 15px;
    background-color: #f8fafb;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f8fafb), to(#ecf1f5));
    background-image: -webkit-linear-gradient(top, #f8fafb, #ecf1f5);
    background-image: -moz-linear-gradient(top, #f8fafb, #ecf1f5);
    background-image: -ms-linear-gradient(top, #f8fafb, #ecf1f5);
    background-image: -o-linear-gradient(top, #f8fafb, #ecf1f5);
    background-image: linear-gradient(top, #f8fafb, #ecf1f5);
    box-shadow: inset 0 1px 0px #fff;
    border-radius: 3px;
    border: 1px solid #c5cfda;
    margin: 0;
    color: #737D87;
    cursor: pointer;
    line-height: 18px;
    text-align: center;
    text-decoration: none;
}

.error-block {
    color: #ec4444;
}
.error-block .error-block-title{
    color: #737c85;
}
.error-block .error-block-file-name {
    font-weight: bold;
}

.image-crop label{
    display: block;
}

.uppic-container textarea {
    resize: none;
}
.error .help-block {
    color: #ec4444;
}
.backup-table {
    border-spacing: 0px;
}
.backup-table tr.backup-table-new {
    background-color: #8ef645;
}
.backup-table .text-center {
    text-align: center;
}
.backup-table .text-right {
    text-align: right;
}
.backup-table td, .backup-table th {
    padding: 5px;
    border: 1px solid #E7EBEE;
}
.backup-table td a {
    color: #626c70;
}
.inline-block {
    display: inline-block;
}