/*= CORE CSS */
.eventCalendar-hidden {
	display: none;
}
.eventCalendar-list-wrap {

}

.eventCalendar-wrap {
	position: relative;
	overflow: hidden;
}

.eventCalendar-arrow {
	position: absolute;
	z-index: 5;
	top: 3px;
}

.eventCalendar-prev {
	left: 3px;
}

.eventCalendar-next {
	right: 3px;
}

.eventCalendar-monthTitle {
	display: block;
	text-align: center;
}

.eventCalendar-monthWrap {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}

.eventCalendar-currentMonth {
	z-index: 1;
}

.eventCalendar-daysList {
	display: table;
	width: 100%;
}

.eventCalendar-showAsWeek {
	display: block;
}

.eventCalendar-daysList li {
	display: table-cell;
}

.eventCalendar-dayWithEvents {
	background: rgba(0, 0, 0, 0.15);
}

.eventCalendar-current {
	background: rgba(0, 0, 0, 0.35);
}

.eventCalendar-showAsWeek li {
	display: block;
	float: left;
	width: 14.28%;
	height: 20px;
}

.eventCalendar-daysList a {
	padding: 0;
	display: block;
	text-align: center;
	font-size: 8px;
	min-width: 7px;
}

.eventCalendar-loading {
	display: block;
	min-width: 100px;
	height: 40px;
	line-height: 40px;
}

.eventCalendar-list {
	position: relative;
	z-index: 1;
}

.eventCalendar-oldEventList {
	z-index: 2;
}

.eventCalendar-subtitle {
	padding-left: 0px;
	font-size: 120%;
}
/* end of core CSS */