@font-face {
    font-family: 'DINPro-Bold';
    src: url('../fonts/DINPro-Bold.otf')
}

@font-face {
    font-family: 'pfdintextcondpro-regular';
    src: url('../fonts/pfdintextcondpro-regular.ttf')
}

@font-face {
    font-family: 'pfdintextcondpro-thin';
    src: url('../fonts/pfdintextcondpro-thin.ttf')
}

@font-face {
    font-family: 'HelveticaNeueCyr-Thin';
    src: url('../fonts/HelveticaNeueCyr-Thin.otf')
}

@font-face {
    font-family: 'HelveticaNeueCyr-Light';
    src: url('../fonts/HelveticaNeueCyr-Light.otf')
}
/*
     FILE ARCHIVED ON 18:10:35 Mar 29, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 06:47:40 Oct 16, 2019.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  exclusion.robots: 0.374
  exclusion.robots.policy: 0.348
  captures_list: 1679.47
  CDXLines.iter: 16.105 (3)
  PetaboxLoader3.datanode: 1637.604 (5)
  load_resource: 128.461
  PetaboxLoader3.resolve: 88.488 (2)
  esindex: 0.017
  RedisCDXSource: 37.827
  LoadShardBlock: 1621.643 (3)
*/