::selection { background: #fd233b; color: #fff;}
::-moz-selection {background: #fd233b; color: #fff;}

#slick_2 img{

    width: 94px;
    height: 94px;
}

html {
    height:100%;
    background:#fff;
}

* {
    margin:0;
    padding:0;
}

html, body {
    height: 100%;
}

body {
    margin: 0 auto;
    text-rendering: optimizeLegibility;
}

a {
    text-decoration: underline;
    outline:none !important;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent; /* For some Androids */
    color: #565656;
}

a:hover { text-decoration: none; }

.slickie {
    max-width: 980px;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

.active-news {
    background-color: #fd233b !important;

}

.fulltext ul, ul.text-like {
    font-family: 'HelveticaNeueCyr-Light';
    font-size: 16px;
    line-height: 30px;
    letter-spacing: .4px;
    color: #000;
    font-weight: 200;
    list-style: none;
    padding-left: 10px;
}

.fulltext ul, ul.text-like {
    margin: 25px 0 25px 15px;
}

.fulltext ul li, ul.text-like li {
    padding-left: 15px;
    position: relative;
    line-height: 1.62;
    margin: 25px 0;
}

.fulltext ul li:before,ul.text-like li::before {
    border-radius: 50%;
    content: '';
    width: 10px;
    height: 10px;
    background-color: #fd233b;
    display: inline-block;
    left: -5px;
    top: 8px;
    position: absolute;
}

.fulltext ul li a, ul.text-like li a { color: inherit; }

.search {
    position: absolute;
    width: 100%;
    z-index: 1000;
    background-color: #f7f5f5;
    padding: 0 20px;
    box-sizing: border-box;
    top: -300px;
    visibility: hidden;
    -o-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.active-search {
    visibility: visible;
    top: 0;
}

.search form input[name="search"] {
    outline: none;
    margin: 26px 0;
    padding: 10px 20px;
    box-sizing: border-box;
    width: 100%;
    border: solid 2px rgb(253, 35, 59);
    color: #000;
    font-family: 'pfdintextcondpro-thin';
    font-weight: 200;
    font-size: 20px;
    letter-spacing: .6px;
    box-sizing: border-box;
}

.btn-close-search {
    cursor: pointer;
    outline: none;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 37px 33px;
    border: 0;
    background-color: transparent;
    background-image: url(../img/close.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 0;
    opacity: .5;
    -o-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
}

.btn-submit-search {
    cursor: pointer;
    outline: none;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 37px 33px;
    border: 0;
    background-color: transparent;
    background-image: url(../img/sprite.svg);
    background-position: 71% -70%;
    opacity: 0;
    -o-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
}

.btn-close-search:hover, .btn-submit-search:hover {
    opacity: 1;
}

.search form input[name="search"]:focus ~ .btn-close-search {
    visibility: hidden;
    opacity: 0;
}

.search form input[name="search"]:focus ~ .btn-submit-search {
    visibility: visible;
    opacity: .5;
}

.btn-submit-search:hover ~ .btn-close-search {
    visibility: hidden;
    opacity: 0;
}

.header {
    max-width: 980px;
    margin: 0 auto;
    padding: 20px 0 20px 0;
    box-sizing: border-box;
    position: relative;
}

.logo {
    background-image: url(../img/logo.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    display: block;
    width: 270px;
    height: 56px;
    max-width: 100%;
}

.logo-white {
    background-image: url(../img/logo-white.svg);
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    width: 270px;
    height: 56px;
}

.feedback-header {
    display: inline-block;
    position: relative;
    text-align: right;
    float: right;
}

.adress {
    /*cursor: pointer;*/
    vertical-align: middle;
    /*display: inline-block;*/
}

/*.adress:hover ~ .social-circles .phone,
.adress:hover ~ .social-circles .white-phone {
	background-color: #fd233b;
}*/

.adress {
    text-align: right;
    color: #474747;
}

.adress p.address-phone{
    font-family: 'DINPro-Bold';
    font-size: 22px;
    color: #272e99;
}
.adress p.address-phone span { font-size: 18px; }
.adress p:last-child {
    font-family: 'pfdintextcondpro-regular';
    font-size: 16px;
}

.menu-slide { display: none; }

.social-circles {
    display: inline-block;
    vertical-align: middle;
}

.circle {
    background-image: url(../img/sprite.svg);
    background-repeat: no-repeat;
    display: inline-block;
    cursor: pointer;
    width: 33px;
    height: 33px;
    background-color: #bdbdbd;
    border-radius: 50%;
    margin-left: 5px;
    -o-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
}

.footer-content .circle {
    background-color: #fff;
}

.phone {background-position: 0 0;}
.white-phone {background-position: 0 -33px;}
.phone:hover, .white-phone:hover {background-color: #fd233b;}
.fb {background-position: -33px 0;}
.white-fb {background-position: -33px -33px;}
.fb:hover, .white-fb:hover {background-color: #3b5998;}
.vk {background-position: -66px 0;}
.white-vk {background-position: -66px -33px;}
.vk:hover, .white-vk:hover {background-color: #507299;}
.find {background-position: -99px 0;}
.white-find {background-position: -99px -33px;}
.find:hover, .white-find:hover {background-color: #2f2f8e;}
.eye {background-position: -132px 0;}
.white-eye {background-position: -132px -33px;}
.eye:hover, .white-eye:hover {background-color: #fd233b; }

.head-menu {
    display: inline-flex;
    justify-content: space-around;
    text-align: center;
    background-color: #272e99;
    width: 100%;
    list-style: none;
    margin-top: 10px;
}

.head-menu::before {
    content: '';
    width: 19px;
    height: 19px;
    display: inline-block;
    background-image: url(../img/cursor-blue.svg);
    background-repeat: no-repeat;
    position: absolute;
    background-size: cover;
    left: -22px;
    vertical-align: bottom;
    transform: rotateZ(180deg);
}

.head-menu::after {
    content: '';
    width: 19px;
    height: 19px;
    display: inline-flex;
    background-image: url(../img/cursor-red.svg);
    background-repeat: no-repeat;
    position: absolute;
    background-size: cover;
    right: -22px;
    vertical-align: top;
    bottom: 30px;
}

.head-menu > li, .menu-footer > li {
    display: inline-flex;
    -o-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    position: relative;
    width: 20%;
}

.head-menu > li:hover, .menu-footer > li:hover, .head-menu > li.active, .menu-footer > li.active {
    background-color: #fd233b;
}

.head-menu > li > a, .menu-footer > li > a {
    display: flex;
    justify-content: center;
    margin: auto;
    font-family: 'pfdintextcondpro-thin';
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: .6px;
    color: #fff;
    padding: 20px 10px;
    text-decoration: none;
    width: 100%;
    text-align: center;
}

.menu-footer > li > a {
    color: #2e2e8e;
}

.menu-footer > li:hover > a, .menu-footer > li.active > a {
    color: #fff;
}

/* ---SLIDER--- */
.wide-wrapper {margin-bottom: 50px;}
.ms-text-block-wrapper {
    width: 100%;
}

/* ---SLIDER END--- */

.sub-slider {
    max-width: 980px;
    margin: 0 auto 50px auto;
}

.sub-slider-wrapper {
    display: inline-flex;
}

.sub-slider .block {
    display: inline-block;
    padding: 0 22px;
    border-right: solid 1px #e5e5e5;
}

.sub-slider .first { padding-left: 0; display: none;}
.sub-slider .last { padding-right: 0; border-right: none; }

.sub-slider .block:nth-child(5) { display: none; }

.sub-slider .block img {
    display: block;
    margin-bottom: 15px;
}


.sub-slider .block a { text-decoration: none; }
.sub-slider .block a p {
    display: block;
    font-family: 'HelveticaNeueCyr-Light';
    font-size: 14px;
    line-height: 18px;
    letter-spacing: .6px;
    color: #2e2e8e;
    text-decoration: none;
}

.sub-slider .block a p:hover {
    text-decoration: underline #fd233b;
}

.baners {
    max-width: 980px;
    margin: 0 auto 50px auto;
}

.content {
    max-width: 980px;
    margin: 0 auto;
    font-size: 0px;
    padding-bottom: 70px;
}

.content_date {
    max-width: 980px;
    margin: 0 auto;
    /*font-size: 0px;*/
    padding-bottom: 70px;

}

.wrapper-title, .fulltext h3.wrapper-title {
    font-family: 'pfdintextcondpro-thin';
    font-size: 34px;
    line-height: 34px;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: .2px;
    color: #000;
}

.news-line {
    padding-right: 40px;
    width: 65%;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    position: relative;
}

.news-tit {
    padding: 0 20px 15px 0;
}

.news-tit::after {
    content: '';
    width: 11px;
    height: 11px;
    display: inline-flex;
    background-image: url(../img/cursor-blue.svg);
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    left: 5px;
    transform: rotateZ(90deg);
    vertical-align: top;
    top: 3px;
}

.post-item {
    display: inline-flex;
    cursor: pointer;
    margin-bottom: 35px;
    opacity: 1;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
}

.news-line:nth-last-child(2) {
    margin-bottom: 10px;
}

.post-item img {
    width: 84px;
    height: 84px;
    border-radius: 50%;
    margin-right: 20px;
}

.data-post{
    display: inline-block;
    font-family: 'pfdintextcondpro-thin';
    font-size: 16px;
    line-height: 16px;
    font-weight: 200;
    color: #000;
    vertical-align: top;
    padding-right: 15px;
    padding-top: 4px;
}

.post-link {
    display: inline-block;
    border-bottom: none;
    text-decoration: none;
}

.post-link p.title {
    display: block;
    font-family: 'HelveticaNeueCyr-Light';
    font-size: 18px;
    line-height: 25px;
    letter-spacing: .6px;
    color: #2e2e8e;
    text-decoration: underline #dadada;
}


.post-link:hover a {
    text-decoration: none;
}

.post-link:hover p {
    color: #fd233b;
}

.post-link p {
    font-family: 'HelveticaNeueCyr-Light';
    font-size: 18px;
    line-height: 25px;
    letter-spacing: .6px;
    /* color: #565656; */
}

.post-item {
    display: inline-flex;
    cursor: pointer;
    margin-bottom: 35px;
    opacity: 1;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
}

.line-end {
    display: block;
    margin: 5px auto 0 auto;
    width: 0;
    height: 3px;
    border: 0;
    background-color: #fd233b;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
}

.post-item:hover .line-end {
    width: 100%;
}

.all-news {
    border-top: solid 1px #f7f5f5;
}

.poll {
    width: 35%;
    display: inline-block;
    /*float: right;*/
    box-sizing: border-box;
    background-color: #f7f5f5;
    padding: 30px;
    border-radius: 3px;
    margin-bottom: 50px;
}

.poll-tit::after {
    content: '';
    width: 11px;
    height: 11px;
    display: inline-flex;
    background-image: url(../img/cursor-red.svg);
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    left: 5px;
    transform: rotateZ(-90deg);
}

.poll .answer { color: #fd233b; font-size: 22px; }

.question {
    display: block;
    font-family: 'HelveticaNeueCyr-Light';
    font-size: 16px;
    line-height: 18px;
    letter-spacing: .6px;
    color: #565656;
    padding: 15px 0;
}

#poll-form fieldset {
    padding: 0 20px;
    border: none;
}

.vote-item input {
    display: none;
}

.vote-item label {
    cursor: pointer;
    display: inline-block;
    text-transform: uppercase;
    font-family: 'pfdintextcondpro-thin';
    font-weight: 200;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: .6px;
    color: #2e2e8e;
    vertical-align: middle;
}

.vote-item label:hover {
    color: #000;
}

.vote-item label::before {
    content: '';
    display: inline-block;
    background-image: url(../img/poll-ok.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 0;
    height: 0;
    margin-right: 0;
    vertical-align: middle;
    position: relative;
    top: -2px;
    -o-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
}

.vote-item input:checked ~ label::before {
    width: 17px;
    height: 17px;
    margin-right: 5px;
}

.vote-item input:checked ~ label {
    font-weight: bold;
    color: #fd233b;
}

.btn-item-submit {
    background-color: #fd233b;
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
    border-radius: 4px;
    height: 0;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
}

.btn-item-submit:hover {
    margin-bottom: 0;
    height: 40px;
}

.vote-submit {
    outline: none;
    background: transparent;
    border: none;
    cursor: pointer;
    display: inline-block;
    text-transform: uppercase;
    font-family: 'pfdintextcondpro-thin';
    font-weight: 200;
    font-size: 22px;
    letter-spacing: .6px;
    line-height: 40px;
    color: #fd233b;
    position: relative;
    border-bottom: solid 0 #fd233b;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
}

.btn-item-submit:hover .vote-submit {
    color: #fff;
}

.btn-item-submit::after {
    content: '';
    width: 10px;
    height: 10px;
    display: inline-block;
    background-image: url(../img/cursor-red.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    position: relative;
    background-size: cover;
    left: 3px;
    transform: rotateZ(180deg);
    box-sizing: border-box;
    -o-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;

    -webkit-transition-delay: .2s;
    -o-transition-delay: .2s;
    -moz-transition-delay: .2s;
    transition-delay: .2s;
}

.btn-item-submit:hover::after {
    background-position: 0 -10px;
}

.events {
    padding: 0 0 0 40px;
}

.list-page {
    padding: 0 40px 0 0;
}

.calendar {
    width: 35%;
    display: inline-block;
}

.footer, .push {
    height: 200px;
}

/*---FOOTER---*/
.footer {
    padding-bottom: 20px;
    background-color: #2e2e8e;
    margin-top: -200px;
    box-sizing: border-box;
}

.menu-footer {
    margin-bottom: 20px;
    background-color: #f1f1f1;
    width: 100%;
    text-align: center;
}

.footer-content {
    max-width: 980px;
    margin: 0 auto;
}

.footer-content .adress p {
    color: #fff;
}
/*---FOOTER END---*/


/*---MODALS---*/
.modal {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 10000;
    background-color: rgba(46,46,142,.9);
    /*-webkit-filter: blur(10px);
    filter: blur(10px);*/
}

.callback {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
    width: 30%;
    height: 30%;
}

.modal-tit {
    color: #fff;
    padding: 0 0 40px 0;
    text-align: center;
}

.popup-row input {
    background-color: #fff;
    color: #000;
    display: block;
    padding: 15px;
    width: 90%;
    border: 0;
    border-radius: 4px;
    outline: none;
    margin: 0 auto 30px auto;
    box-sizing: border-box;
    font-family: 'pfdintextcondpro-thin';
    font-weight: 200;
    font-size: 20px;
    letter-spacing: .6px;
}
/*---MODALS END---*/


/*---SLIDE MENU---*/
.btn-menu-slide {
    display: inline-block;
}

.wrapper-bg {
    background-color: rgba(46,46,142,0);
    width: 100%;
    height: 100%;
    position: fixed;
    -o-transition: all .5s;
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    z-index: 10000;
    visibility: hidden;

    -webkit-transition-delay: .2s;
    -o-transition-delay: .2s;
    -moz-transition-delay: .2s;
    transition-delay: .2s;
}

.active .wrapper-bg {
    visibility: visible;
    background-color: rgba(46,46,142,.8);
}

.slide-menu .slide-menu-content {
    display: inline-block;
    height: 100%;
    background-color: #fff;
    padding: 20px 0;
    left: -100%;
    z-index: 1000;
    max-width: calc(100% - 70px);
    -o-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    position: absolute;
    overflow-y: auto;
    box-sizing: border-box;
}

.slide-menu ul {
    list-style: none;
}

.active .slide-menu-content {
    z-index: 100000;
    left: 0;
}

.slide-menu ul li a {
    display: block;
    font-family: 'pfdintextcondpro-thin', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: .6px;
    color: #2e2e8e;
    /*line-height: 50px;*/
    padding: 15px 40px;
    -o-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    text-decoration: none;
}

ul.menu-mobile > li > a:hover {
    color: #fff;
    background-color: #fd233b;
}
ul.menu-mobile > li.active > a {
    background-color: #2e2e8e;
    color:#fff;
}


.slide-menu .logo-wrapper {
    padding: 0 40px;
    border-bottom: solid 1px #e5e5e5;
    margin-bottom: 20px;
    box-sizing: border-box;
    width: 100%;
}

.close-menu {
    width: 33px;
    height: 33px;
    background-image: url(../img/close.svg);
    background-repeat: no-repeat;
    display: inline-block;
    margin: 40px 20px;
    position: absolute;
    right: 100%;
    top: 0;
    z-index: 10;

    -o-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;

    -webkit-transition-delay: .2s;
    -o-transition-delay: .2s;
    -moz-transition-delay: .2s;
    transition-delay: .2s;
}

.active .close-menu { right: 0; }


.active-blur {
    -webkit-transition-delay: .3s;
    -o-transition-delay: .3s;
    -moz-transition-delay: .3s;
    transition-delay: .3s;

    -webkit-filter: blur(5px);
    filter: blur(5px);
}
/*---SLIDE MENU---*/

#whot-qvestion input:not([type="submit"]), #whot-qvestion textarea {
    resize: none;
    background-color: #fff;
    color: #000;
    display: block;
    padding: 15px;
    width: 100%;
    border: 0;
    border-radius: 4px;
    outline: none;
    margin: 0 auto 15px auto;
    box-sizing: border-box;
    font-family: 'pfdintextcondpro-thin';
    font-weight: 200;
    font-size: 20px;
    letter-spacing: .6px;
}

.whot-qvestion h3 {
    text-align: center;
    padding: 0 0 25px 0;
}

.paginator {
    text-align: center;
    width: 100%;
    display: block;
}

.paginator li a { text-decoration: none; }

.paginator .page {
    font-family: 'HelveticaNeueCyr-Light', sans-serif;
    font-size: 18px;
    letter-spacing: .6px;
    color: #fff;
    display: inline-block;
    cursor: pointer;
    width: 33px;
    height: 33px;
    background-color: #bdbdbd;
    border-radius: 50%;
    margin-left: 10px;
    line-height: 33px;
    vertical-align: middle;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
}

.paginator .page a { color: inherit; display: block; width: 100%; height: 100%; }
.paginator .page:hover, .paginator .page.selected {
    background-color: #2e2e8e;
}

.pag-prev, .pag-next {
    background-image: url(../img/cursor-next-prev.svg);
    background-repeat: no-repeat;
    background-position: -70% 50%;
    -o-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    display: block;
}

.pag-next {
    transform: rotateZ(180deg);
}

.pag-prev:hover, .pag-next:hover {
    background-position: 145% 50%;
}

.display_none { display: none !important;}

.map {
    padding: 0;
}


.contacts {
    cursor: default;
    width: 100%;
    margin-bottom: 20px;
    border-bottom: solid 1px #f3f3f3;
    padding-bottom: 5px;
}

.contacts .post-link p:first-child {
    line-height: 24px;
}

.contacts .post-link p:first-child {
    font-family: 'DINPro-Bold';
    font-size: 27px;













    letter-spacing: 0;
    color: #272e99;
    line-height: 40px;
}

.contacts .post-link p b {
    color: #000;
}

.contacts .line-end {
    margin: 16px auto -6px auto;
}

.bns-panel {
    text-align: center;
    font-size: 0;
}

.bns-panel a {
    display: inline-block;
    text-align: center;
    margin: 0 15px 10px 0;
}
.bns-panel a:nth-child(even){ margin-right: 0; }
.bns-panel a img { display: block; max-width: 100%; }

#whot-qvestion .form-captcha input { width: 147px; display: inline-block; vertical-align: middle; margin-bottom: 0; }
.form-captcha img { display: inline-block; vertical-align: middle; margin-right: 15px; }

.poll-images { font-size: 0; }
.poll-images a { display: inline-block; max-width: 85px; max-height: 85px; margin: 0 14px 10px 0; vertical-align: middle; }
.poll-images a:nth-child(3n) { margin-right: 0; }
.poll-images img { display: block; max-width: 100%; max-height: 100%; }

.ui-datepicker { position: relative; font-family: 'pfdintextcondpro-regular';  font-size: 16px;  color: #4a4a4a;}
.ui-datepicker a { text-decoration: none; }
.ui-datepicker-header { border-radius: 4px 4px 0 0; background-color: #f7f5f6; padding: 20px 0; color: #000; text-align: center }
.ui-datepicker-title {
    display: inline-block;
    font-family: 'pfdintextcondpro-thin', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 200;
    color: #000;
    padding: 0 8px;
}
.ui-datepicker-calendar { width: 100%; border-collapse: collapse; }
.ui-datepicker-calendar thead {
    background-color: #2e2e8e;
    margin-bottom: 15px;
    color: #fff;
    text-transform: uppercase;
}
.ui-datepicker-calendar thead th {
    padding: 20px 0px 20px 60px;
    font-weight: normal;
}

.ui-datepicker-calendar tbody td .ui-state-default { text-align: center; padding: 8px; border-radius: 4px;  cursor: pointer; color: #2e2e8e; font-weight: bold; display: block; }
.ui-datepicker-calendar tbody td:hover .ui-state-default { background-color: #f0f0f0;}
.ui-datepicker-calendar tbody::before {
    content: "-";
    display: block;
    line-height: 1em;
    color: transparent;
}
.ui-datepicker-prev, .ui-datepicker-next {
    background-color: #2e2e8e;
    background-image: url(../img/cursor-next-prev.svg);
    background-repeat: no-repeat;
    background-position: 1px 0;
    cursor: pointer;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    display: inline-block;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;
}
.ui-datepicker-prev { left: 25px; }
.ui-datepicker-next { right: 25px; transform: rotateZ(180deg);}

.ui-datepicker-prev:hover, .ui-datepicker-next:hover {background-position: -21px 0;  background-color: #fff;  }

.ui-datepicker-calendar tbody td.ui-state-disabled .ui-state-default { font-weight: normal; color: #4a4a4a; }
.ui-datepicker-calendar tbody td.ui-state-disabled.ui-datepicker-other-month .ui-state-default { color: #dedede; font-weight: normal; }
.ui-datepicker-calendar tbody td .ui-state-default.ui-state-active { color: #fff; background-color: #2e2e8e;}
.ajax-preloader  {position: absolute;  width:100%; height: 100%; z-index: 100; background: rgba(255, 255, 255, 0.8); visibility: hidden; opacity: 0; -o-transition: all 0.5s;  -moz-transition: all 0.5s;  -webkit-transition: all 0.5s;}
.ajax-preloader.active { opacity: 1; visibility: visible; }

.news-list {

}

.news-item {


}

/*--- breadcrumbs ---*/
.breadcrumbs {
    background-color: #f7f6f6;
    padding: 15px;
    margin-bottom: 40px;
    color: #a3a3a3;
    font-family: 'pfdintextcondpro-thin';
    font-size: 14px;
    font-weight: 200;
    text-transform: uppercase;
}

.breadcrumbs a {
    color: #a3a3a3;
    padding-right: 5px;
}

.breadcrumbs span {
    color: #2e2e8e;
    font-size: 18px;
    padding-left: 5px;
}
/*--- breadcrumbs END ---*/



/*--- FULLSTORY ---*/
.fullnews { font-size: 16px;}
.head-title { display: inline-flex; }
.fullnews-title {
    font-family: 'pfdintextcondpro-thin';
    font-size: 34px;
    line-height: 36px;
    font-weight: 200;
    padding: 0 20px;
    margin-bottom: 40px;
    text-transform: none;
    letter-spacing: .4px;
    border-left: solid 2px #fd233b;
}
.data-post {
    font-family: 'pfdintextcondpro-thin';
    font-size: 20px;
    line-height: 20px;
    font-weight: 200;
    color: #a3a3a3;
    vertical-align: top;
    padding-right: 15px;
    padding-top: 4px;
}
.fullnews-img {
    display: block;
    width: 100%;
    margin-bottom: 40px;
}

.fulltext { padding: 0 40px; box-sizing: border-box; }

.fulltext p, .fulltext table {
    font-family: 'HelveticaNeueCyr-Light';
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: .4px;
    color: #000;
    font-weight: 200;
    margin-bottom: 30px;
}

.fulltext b { font-weight: bold; }

.fulltext table {
    width: 100%;
    border-spacing: 0;
}

.fulltext table tr {
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
}

.fulltext table tr:nth-child(2n+1) {
    background-color: #fbfbfb;
}

.fulltext table tr:hover {
    background-color: rgba(46,46,142,.1);
}

.fulltext table td {
    padding: 15px;
    box-sizing: border-box;
    border-right: solid 1px #f1f1f1;
    border-bottom: solid 1px #f1f1f1;
}

.fulltext table th {
    padding: 15px;
    background-color: #f1f1f1;
    font-family: 'pfdintextcondpro-thin';
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: .6px;
    color: #2e2e8e;
    border-bottom: solid 2px #fd233b;
}

.fulltext h3 {
    font-weight: 200;
    font-family: 'pfdintextcondpro-regular';
    font-size: 25px;
    letter-spacing: .6px;
    color: #2e2e8e;
}

.fulltext img { display: block; max-width: 100%;  height: auto; }

/*--- END FULLSTORY ---*/

/*--- COMMENTS ---*/
.comments {

}
.comments h3, .add-comment h3 {
    text-align: center;
    font-family: 'pfdintextcondpro-thin';
    font-size: 34px;
    line-height: 34px;
    font-weight: 200;
    padding: 0 20px 15px 20px;
    text-transform: uppercase;
    letter-spacing: .2px;
    border-top: solid 1px #f1f1f1;
    padding-top: 20px;
    margin-top: 70px;
}

.comments h3:after, .add-comment h3:after {
    content: '';
    width: 11px;
    height: 11px;
    display: inline-flex;
    background-image: url(../img/cursor-blue.svg);
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    left: 5px;
    transform: rotateZ(-90deg);
}

.comment {

}

.comment-body { display: inline-flex; margin-bottom: 10px; }

.head-data {
    font-family: 'pfdintextcondpro-thin';
    font-size: 20px;
    font-weight: 200;
    color: #a3a3a3;
    padding-right: 15px;
    line-height: 22px;
}

.autor {
    font-weight: 200;
    font-family: 'pfdintextcondpro-regular';
    font-size: 22px;
    line-height: 22px;
    letter-spacing: .6px;
    color: #2e2e8e;
    vertical-align: bottom;
}

.comment-text {
    font-family: 'HelveticaNeueCyr-Light';
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: .4px;
    color: #000;
    font-weight: 200;
    box-sizing: border-box;
    border-bottom: solid 2px #f7f6f6;
    padding-bottom: 20px;
    margin: 0 40px 20px 40px;
}

.comment-text:last-child {
    border-bottom: none;
}

.add-comment {
    margin: 0 auto;
    max-width: 60%;
}

#comment input:not([type="submit"]), #comment textarea {
    resize: none;
    background-color: #f7f6f6;
    color: #000;
    display: block;
    padding: 15px;
    width: 100%;
    border: 0;
    border-radius: 4px;
    outline: none;
    margin: 0 auto 15px auto;
    box-sizing: border-box;
    font-family: 'pfdintextcondpro-thin';
    font-weight: 200;
    font-size: 20px;
    letter-spacing: .6px;
}

#comment .form-captcha input {  width: calc(100% - 150px);  float: right; }

/*--- END COMMENTS ---*/


.news-photos { margin: 20px 0; }
.news-photos a { display: inline-block; width: 250px; height: 180px; margin: 0 15px 15px 0; }
.news-photos a img { width: 250px; height: 180px; }

.clear { clear: both; }

.alert { padding: 10px; margin: 20px auto; background-color: #2E2E8E; border-radius: 4px; color: #fff; font-family: 'pfdintextcondpro-thin', serif;  }

.wrapper { min-height: 100%; }

.news-line.full-width { width: 100%; padding-right: 0; }

.section { margin-top: 30px; }
/*--- BLOCKS ---*/
.list-blocks {
    display: inline-flex;
}

.block {
    max-width: 25%;
    padding: 0 10px;
    margin: 0 auto;
}

.head-blocks {
    display: block;
    background-color: #2e2e8e;
    /* min-height: 69px; */
    font-family: 'pfdintextcondpro-thin';
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: .6px;
    color: #fff;
    padding: 20px;
    margin-bottom: 40px;
    text-align: center;
    font-weight: bold;
    position: relative;
    text-decoration: none;
}

.head-blocks::after {
    content: '';
    width: 14px;
    height: 14px;
    display: block;
    background-image: url(../img/cursor-blue.svg);
    background-size: cover;
    background-color: transparent;
    position: absolute;
    bottom: -25px;
    margin: 0 auto;
    transform: rotateZ(-45deg);
    left: 0;
    right: 0;

    animation: cursor .8s ease-in-out 1;
    -webkit-animation: cursor .8s ease-in-out 1;
}

.head-blocks:last-child::after {
    content: none;
}

.item-blocks {
    display: block;
    position: relative;
    margin-bottom: 20px;
    text-align: center;
    background-color: #f7f6f6;
    font-family: 'pfdintextcondpro-thin';
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: .6px;
    color: #000;
    padding: 20px;
    border-bottom: solid 2px rgba(253,35,59,.1);

    animation: run .5s ease-in-out 1;
    -webkit-animation: run .5s ease-in-out 1;

    text-decoration: none;
}

.item-blocks:hover {

}

.list-blocks .block a { color: inherit; text-decoration: none; }

@keyframes run {
    0% {
        top: -15px;
        opacity: 0;
        margin-bottom: 0;
    }
    100% {
        top: 0;
        opacity: 1;
        margin-bottom: 20px;
    }
}

@keyframes cursor {
    0% {
        bottom: 0;
    }
    100% {
        bottom: -25px;
    }
}
/*--- END BLOCKS ---*/

h1 a { text-decoration: none; }

.mobile-horizontal-scroll { overflow-x: auto; }


.title-big-bg {
    display: block;
    width: 100%;
    padding: 50px 0;
    background-image: url(../img/bg.jpg);
    margin-bottom: 70px;
}

.title-big-wrapper {
    display: block;
    max-width: 980px;
    margin: 0 auto;
}

.title-big-wrapper h1 {
    color: #fff;
    font-family: 'pfdintextcondpro-thin', sans-serif;
    font-weight: 600;
    font-size: 35px;
    letter-spacing: 2px;
    margin-bottom: 15px;
}

.title-big-wrapper p {
    font-family: 'HelveticaNeueCyr-Light', sans-serif;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: .6px;
    color: #fff;
    font-weight: 200;
}

.consulting-btn {
    vertical-align: top;
    text-decoration: none;
    cursor: pointer;
    width: 100%;
    display: block;
    font-family: 'pfdintextcondpro-thin', sans-serif;
    font-weight: 600;
    font-size: 26px;
    line-height: 30px;
    letter-spacing: .6px;
    color: #fd233b;
    transition: all .2s linear;
    margin-bottom: 15px;
}

.consulting-btn:hover {
    color: #000;
}

.consulting-btn:after {
    content: '';
    width: 15px;
    height: 15px;
    display: inline-flex;
    background-image: url(../img/cursor-red.svg);
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    margin-left: 20px;
    transform: rotateZ(-90deg);
}



.consulting-list-item {
    color: #000;
    font-family: 'pfdintextcondpro-thin', sans-serif;
    font-weight: 200;
    font-size: 21px;
    line-height: 29px;
    letter-spacing: .6px;
    margin-bottom: 15px;
    list-style: none;
}

.consulting-list-item::before {
    content:'';
    display: inline-block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #fd233b;
    vertical-align: middle;
    margin-right: 10px;
}

.title-big-bg-two {
    margin: 0 auto 50px auto;
    padding: 20px 50px;
    max-width: 980px;
    box-sizing: border-box;
}

.title-big-bg-two p {
    text-align: center;
    color: #fff;
    font-family: 'pfdintextcondpro-thin', sans-serif;
    font-weight: 600;
    font-size: 35px;
    letter-spacing: 2px;
    margin-bottom: 15px;
}
.title-big-bg-two a { color: inherit;  text-decoration: none;}

.head-menu .hover {
    background-color: #fd273f;
}

.logo-two {
    background-image: url(../img/logo-center.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 270px;
    height: 57px;
    max-width: 100%;
}

.feddback-head {
    width: 270px;
    display: inline-block;
    vertical-align: top;
}

.feddback-head-two {
    width: 470px;
    float: right;
    text-align: right;
}


.sub-menu-mobile {
    height: 0;
    background-color: #fd273f;
}

.active-sub-menu-mobile {
    padding-left: 20px;
    height: auto;
}

.sub-menu-mobile a {
    color: #fff !important;
}

.hover-mobile a {
    background-color: #2e2e8e !important;
}

.head-menu .dropdown-menu-wrapper { visibility: hidden; opacity: 0; position: absolute; width: auto; left: auto; background-color: #CA1328; z-index: 10000; box-sizing: border-box;  transition: all .15s linear;}
.head-menu > li:hover .dropdown-menu-wrapper { visibility: visible; opacity: 1; }

.head-menu .dropdown-menu-wrapper .dropdown {
    display: block;
    margin: 10px auto;
    max-width: 980px;
    list-style: none;
    text-align: left;
}

.head-menu .dropdown > li {
    padding: 10px 20px;
    display: inline-block;
    /*white-space: nowrap;*/
}

.head-menu .dropdown > li > a {
    text-transform: uppercase;
    color: #fff;
    font-family: 'pfdintextcondpro-thin';
    font-weight: 200;
    font-size: 16px;
    letter-spacing: .64px;
    text-decoration: none;
}

.head-menu .dropdown > li > a:hover {
    text-decoration: underline;
}


.menu-mobile .dropdown { max-height: 0; overflow: hidden;  transition: all 0.15s linear; }
.menu-mobile .dropdown > li > a { color: #fff; }
.menu-mobile .dropdown > li:hover > a { background-color: #2e2e8e; }
.menu-mobile > li.active > .dropdown { max-height: 1000px; background-color: #fd273f; }

.header .social-circles { margin: 14px 0 0 50px; }
.header .social-circles.mobile { display: none; margin: 0; }
.footer .adress { display: inline-block; }

.logo-link { display: block; width: 100%; height: 100%; }

.adress a { color: inherit; text-decoration: none; }

.main-slide.slick-active {
    opacity: .15;
}
.main-slide.slick-center {
    opacity: 1;
}

.news-calendar {
    font-family: 'pfdintextcondpro-thin', sans-serif;
}
.news-calendar .select-month { background-color: #f7f5f6; margin: 10px auto; padding: 15px 0; text-align: center; color: #000; font-size: 16px; text-transform: uppercase; transition: all ease 0.15s; }
.news-calendar .select-month .prev-month,.news-calendar .select-month .next-month {
    width: 22px;
    height: 22px;
    display: inline-block;
    vertical-align: middle;
    background: url(../img/cursor-next-prev.svg);
    background-position: -100% 0;
    border-radius: 50%;
}
.news-calendar .select-month .prev-month:hover,.news-calendar .select-month .next-month:hover {
    background-color: #fe223c;
    background-position: 0 0;
}
.news-calendar .select-month .next-month {
    transform: rotate(180deg);
    margin-left: 20px;
}
.news-calendar .select-month .prev-month {
    margin-right: 20px;
}
.news-calendar .select-month .prev-month.inactive,.news-calendar .select-month .next-month.inactive { background-position: 0; background-color: #000; }

.news-calendar .dates-grid { display: flex; flex-wrap: wrap; justify-content: space-between; align-content: space-between; align-items: stretch; }
.news-calendar .week-day-row { width: 100%; display: flex; justify-content: space-between; margin: 15px 0; }
.news-calendar .week-day-row .week-day {  width: 14%; font-size: 18px; text-align: center;  }
.news-calendar .dates-grid .date { position: relative; width: 14%; box-sizing: border-box; min-height: 100px; background-color: #fbf9fa; margin-bottom: 4px; color: #fff; font-size: 16px; padding: 35px 10px 5px 10px;  }
.news-calendar .dates-grid .date.inactive { opacity: 0; }
.news-calendar .dates-grid .date span { display: block; width: 30px; padding: 7px; position: absolute; top: 0; left: 0; background-color: #000; text-align: center; line-height: 1;}
.news-calendar .dates-grid .date.active span { background-color: #fd233b;  }
.news-calendar .dates-grid .date .news-item { color: #2e2e8e; font-size: 14px; letter-spacing: 0.2px;  line-height: 16px; margin-bottom: 5px; position: relative; transition: all ease 0.15s; }
.news-calendar .dates-grid .date .news-item .title { display: block; padding: 5px; overflow: hidden; text-decoration: none; color: inherit; transition: all ease 0.15s;  }
.news-calendar .dates-grid .date .news-item .title-hidden { visibility: hidden; opacity: 0; position: absolute; top: 0; background-color: #fd233b; color: #fff;  transition: all ease 0.15s; z-index: 1; box-shadow: 0px 0px 0px 5px rgba(255,255,255,1); }
.news-calendar .dates-grid .date .news-item:hover .title-hidden { visibility: visible; opacity: 1;  transition-delay: 0.5s; }
.news-calendar .current-month { display: inline-block; width: 140px; }



.news-calendar-mobile {
    font-family: 'pfdintextcondpro-thin', sans-serif;
}
.news-calendar-mobile .select-month { background-color: #f7f5f6; margin: 10px auto; padding: 15px 0; text-align: center; color: #000; font-size: 16px; text-transform: uppercase; transition: all ease 0.15s; }
.news-calendar-mobile .select-month .prev-month,.news-calendar-mobile .select-month .next-month {
    width: 22px;
    height: 22px;
    display: inline-block;
    vertical-align: middle;
    background: url(../img/cursor-next-prev.svg);
    background-position: -100% 0;
    border-radius: 50%;
}
.news-calendar-mobile .select-month .prev-month.inactive,.news-calendar-mobile .select-month .next-month.inactive { background-position: 0; background-color: #000; }
.news-calendar-mobile .select-month .prev-month:hover,.news-calendar-mobile .select-month .next-month:hover {
    background-color: #fe223c;
    background-position: 0 0;
}
.news-calendar-mobile .select-month .next-month {
    transform: rotate(180deg);
    margin-left: 20px;
}
.news-calendar-mobile .select-month .prev-month {
    margin-right: 20px;
}

.news-calendar-mobile .dates-grid .date { position: relative; width: 100%; box-sizing: border-box; min-height: 100px; background-color: #fbf9fa; color: #2e2e8e; font-size: 16px; padding: 35px 10px 5px 10px;  }
.news-calendar-mobile .dates-grid .date span { display: block; width: 16px; padding: 7px; position: absolute; top: 0; left: 0; background-color: #000; text-align: center; line-height: 1; color: #fff;}
.news-calendar-mobile .dates-grid .date.active span { background-color: #fd233b;  }
.news-calendar-mobile .dates-grid .date .news-item { font-size: 16px; letter-spacing: 0.2px;  line-height: 16px; margin-bottom: 5px; position: relative; }
.news-calendar-mobile .dates-grid .date .news-item .title { display: block; padding: 5px; overflow: hidden; text-decoration: none; color: inherit; }
.news-calendar-mobile .dates-grid .date .no-news { text-align: center; }
.news-calendar-mobile .dates-grid .date-wrapper { padding: 0 30px; }
.news-calendar-mobile .dates-grid .date-wrapper .week-day { font-size: 18px; text-align: center; margin-bottom: 10px; }

.news-calendar-mobile .slick-next,.news-calendar-mobile .slick-prev {
    width: 22px;
    height: 22px;
    display: inline-block;
    vertical-align: middle;
    background: url(../img/cursor-next-prev.svg);
    background-position: -100% 0;
    border-radius: 50%;
    position: absolute;
    top: calc(50% + 20px);
    z-index: 2;
}
.news-calendar-mobile .slick-next:hover,.news-calendar-mobile .slick-prev:hover {
    background-color: #fe223c;
    background-position: 0 0;
}
.news-calendar-mobile .slick-next {
    transform: rotate(180deg);
    margin-left: 20px;
    right: 0;
}
.news-calendar-mobile .slick-prev {
    margin-right: 20px;
    left: 0;
}

.news-calendar-mobile p { font-size: 18px; text-align: center; padding: 10px; }

.footer .counters { float: right; }

.page-documents { margin: 20px auto 40px; }
.page-documents h3 { margin-bottom: 10px; }

.gos_uslugi {
    width: 980px;
    margin: 0 auto;
    margin-bottom: 50px;
    border: solid 3px #f1f1f1;
    padding: 10px;
    box-sizing: border-box;
}

.logo-uslugi {
    vertical-align: middle;
    display: inline-block;
    width: 38%;
    margin-right: 30px;
    margin-left: 20px;
}

.gos_uslugi span {
    vertical-align: middle;
    display: inline-block;
    line-height: 2.5;
}

.gos_uslugi span a { display: block; margin: 5px 0; }

.gos_uslugi a {
    font-size: 18px;
    line-height: 1.42;
    color: #003a63;
}

.just-strange-logo {
    display: inline-block;
    vertical-align: top;
    margin-right: 30px;
}

.just-strange-logo img { width: 155px; }
.feddback-head-two .logo-two { display: inline-block; vertical-align: top; }
.feddback-head-two .adress { margin-top: -15px; }
/*
     FILE ARCHIVED ON 18:10:40 Mar 29, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 06:47:40 Oct 16, 2019.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  esindex: 0.007
  load_resource: 179.621
  PetaboxLoader3.datanode: 95.572 (5)
  LoadShardBlock: 77.784 (3)
  PetaboxLoader3.resolve: 114.932 (2)
  exclusion.robots: 0.184
  RedisCDXSource: 11.956
  captures_list: 106.473
  CDXLines.iter: 13.43 (3)
  exclusion.robots.policy: 0.171
*/