@media (max-width: 980px) {
    .header {
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        padding: 0;
        margin-bottom: 40px;
    }


    .logo {
        display: block;
        margin: 30px auto;
    }
    .adress {
        display: none;
    }

    .feedback-header {
        display: block;
        float: none;
        background-color: #2e2e8e;
        padding: 20px 20px;
        text-align: left;
        margin-bottom: 20px;
    }

    .adress p, .adress p:first-child {
        color: #fff;
    }

    .header .social-circles { display: none; }
    .header .social-circles.mobile { display: block; }

    .social-circles {
        padding: 10px 0;
        float: right;
    }

    .circle {
        background-color: #fff;
    }

    .phone {background-position: 0 -33px;}
    .phone:hover, .white-phone:hover {background-color: #fd233b;}
    .fb {background-position: -33px -33px;}
    .fb:hover, .white-fb:hover {background-color: #3b5998;}
    .vk {background-position: -66px -33px;}
    .vk:hover, .white-vk:hover {background-color: #507299;}
    .find {background-position: -99px -33px;}
    .find:hover, .white-find:hover {background-color: #2f2f8e;}
    .eye {background-position: -132px -33px;}
    .eye:hover, .white-eye:hover {background-color: #fd233b; }

    nav {
        display: none;
    }

    .btn-menu-slide {
        cursor: pointer;
        width: 33px;
        height: 33px;
        display: inline-block;
        background-image: url(http://www.arp-ko.ru/themes/main/images/menu-ico.svg);
        background-repeat: no-repeat;
        background-position: 0 50%;
        vertical-align: middle;
        padding: 10px 0;
        -o-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -webkit-transition: all 0.2s;
    }

    .btn-menu-slide:hover {
        background-position: -33px 50%;
    }

    .ms-text-block {
        background-color: rgba(46,46,142,1);
        position: relative;
        bottom: 0;
        color: #fff;
        padding: 25px;
        box-sizing: border-box;
        width: 100%;
        margin-bottom: 0;
    }



    .sub-slider {
        width: 100%;
        padding: 0 20px;
        margin: 0 auto;
        box-sizing: border-box;
    }

    .sub-slider-wrapper {
        /*display: block;*/
    }

    .sub-slider-wrapper a {
        display: block;
        width: 100%;
    }

    .img_block {
        /*display: inline-block;*/
        /*width: 5%;*/
        /*margin-right: 5%;*/
        vertical-align: middle;
    }

    .img_block img {
        max-width: 100%;
    }

    .sub-slider .block img {
        margin-bottom: 0;
    }

    .sub-slider .block a p {
        display: inline;
        height: auto;
        font-family: 'HelveticaNeueCyr-Light';
        font-size: 14px;
        line-height: 18px;
        letter-spacing: .6px;
        color: #2e2e8e;
        text-decoration: none;
        vertical-align: middle;
        width: 60%;
    }

    .sub-slider .block a p:hover {
        text-decoration: underline #fd233b;
    }

    .sub-slider .block {
        display: block;
        margin-bottom: 15px;
        border-bottom: solid 1px #e5e5e5;
        padding: 0 0 15px 0;
        border-right: none;
    }
    .baners {
        max-width: 100%;
    }

    .baners img {
        width: 100%;
    }

    .content {
        max-width: 100%;
        padding: 0 20px;
        margin: 0;
        font-size: 0;
    }

    .news-line {
        padding-right: 0;
        width: 100%;
        display: block;
        box-sizing: border-box;

    }

    .poll {
        width: 80%;
        display: block;
        box-sizing: border-box;
        margin: 0 auto;
        margin-bottom: 50px;
        float: none;
    }

    .btn-item-submit {
        margin-bottom: 70px;
    }

    .btn-item-submit:hover {
        margin-bottom: 30px;
    }

    .calendar {
        display: none;
    }

    .events {
        padding: 10px;
    }

    .footer {
        padding: 20px;
        background-color: #2e2e8e;
    }

    .footer-content {
        max-width: 100%;
        box-sizing: border-box;
    }

    .menu-footer {
        display: none;
    }

    .footer-content .feedback-header {
        display: none;
    }

    .search form input[name="search"] {
        margin: 60px 0;
    }

    .btn-close-search, .btn-submit-search {
        margin: 72px 33px;
    }

    .bns-panel a { margin: 0 0 10px; }

    .news-calendar { display: none; }

    .footer .counters { float: none; }
    .footer, .push {
        height: 135px;
    }

    /*---FOOTER---*/
    .footer {
        margin-top: -135px;
    }
}

@media (max-width: 420px) {
    .poll { width: 100%; }
    .post-item { display: block; }
    .post-item img { display: none; }
    .head-title { display: block; padding: 0 10px; }
    .data-post, .breadcrumbs { margin-bottom: 10px; }
    .content, .fulltext { padding: 0 10px; }
    .comment-text { margin: 0; margin-bottom: 20px; }
    .add-comment { max-width: 100%; }
    .block { max-width: 100%; }
    .img_block { width: 100%; display: block; margin-bottom: 10px; }
    .footer, .push { height: 135px; }
    .footer { text-align: center; }
    .img_block { display: inline-block; margin-bottom: 10px;  }
    /*width: 30%;*/
    .sub-slider .block a p { display: inline-block; vertical-align: middle; width: 44%; }
}


@media (max-width: 980px) {
    .logo, .logo-two {
        display: block;
        margin: 0;
    }

    .slide-menu .logo { margin: 0; }

    .feddback-head { margin-left: 20px;  }
    .feddback-head-two { margin-right: 20px; width: auto; }

    .adress {
    display: block;
    }

    .content {
        margin: 0 0 20px 0;
    }

    .title-big-bg {
        margin-bottom: 50px;
    }

    .adress p{
        color: #000;
    }

    .adress p:first-child {
        color: #272e99;
    }

    .title-big-wrapper {
        padding: 0 20px;
    }


    .gos_uslugi {
        width: 100%;
        padding: 5%;
    }

    .logo-uslugi {
        width: 100%;
        display: block;
        margin: 0;
    }

    .gos_uslugi span { line-height: 1.42; }
    .gos_uslugi span a { margin: 7px 0; display: block;}

}

@media (max-width: 800px) {
    .just-strange-logo { margin-right: 0; display: block; }
    .feddback-head-two .adress { margin: 0; }
}

@media (max-width: 420px) {
    .logo-two {
        float: none;
    }
}

@media (max-width: 600px) {
    .feddback-head, .feddback-head-two {
        display: block;
        position: relative;
        margin: 0 auto;
        float: none;
        width: 270px;
    }
    .feddback-head { margin-bottom: 20px; }
    .feddback-head-two { position: relative;}
    .consulting-btn:last-child, .consulting-btn:first-child { width:100%; display: block; margin: 0 auto 20px auto; }
}
/*
     FILE ARCHIVED ON 18:10:35 Mar 29, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 06:47:39 Oct 16, 2019.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  esindex: 0.012
  RedisCDXSource: 22.27
  captures_list: 372.022
  PetaboxLoader3.datanode: 348.7 (5)
  exclusion.robots.policy: 0.16
  exclusion.robots: 0.181
  CDXLines.iter: 13.612 (3)
  PetaboxLoader3.resolve: 134.418 (2)
  load_resource: 180.594
  LoadShardBlock: 333.125 (3)
*/